<ion-view title="Login">
    <ion-content>

        <div class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password">
            </label>
        </div>

        <div class="padding">

            <div>
                <button class="button button-block button-positive" ng-click="login()">
                    Login
                </button>
            </div>

        </div>

    </ion-content>
</ion-view>