<ion-view title="" >
	<ion-content ng-controller="TabsCtrl">
	 
        <ion-list>
            <ion-item class="item item-icon-left" href="#/tab/more/channel/me" >
                 <i class="icon ion-person"></i>
                 Channel
            </ion-item>
            <ion-item  class="item item-icon-left" href="#/tab/more/notifications">
                 <i class="icon ion-ios7-bell"></i>
                 Notifications
            </ion-item>
            <ion-item  class="item item-icon-left" ng-click="logout()">
                 <i class="icon ion-power"></i>
                 Logout
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>