<ion-view title="<img src='img/full_logo.png' class='topbar-logo'/>" hide-nav-bar="true" class="login-bg">
	<ion-content>
	
	   <div class="login-header">
	       <img src="img/full_logo_white.png" class="login-logo"/>
	   </div>
	
        <form ng-submit="register()" class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ng-model="username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="password">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" ng-model="email">
            </label>
            
            <div class="padding">
            <input type="submit" class="button button-block button-positive" value="Register" ng-click="Register()"/>
            </div>
        </form>

    </ion-content>
</ion-view>