<ion-view title="<img src='img/full_logo.png' class='topbar-logo'/>"  ng-controller="RegisterCtrl" hide-nav-bar="true" class="login-bg">
	<ion-content >
	
        <div class="login-header">
           <div class="background-image"></div>
           <img src="img/full_logo_white.png" class="login-logo"/>
        </div>

	
        <form ng-submit="register()" class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ng-model="data.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="data.password">
            </label>
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" ng-model="data.email">
            </label>
            
            <div class="padding">
            	<div>
					<input id="terms" type="checkbox" checked="checked">
				    <label for="terms">I accept the</label> <a style="color:#4690C3; font-weight:bold;text-decoration:none;" href="{{node_url}}p/terms">Terms and Conditions</a>
				</div>
           	 <input type="submit" class="button button-block button-positive" value="Register" ng-click="Register()"/>
            </div>
        </form>
        
        <div class="padding" style="text-align:center;">
            <a href="#/login" class="minds-blue">Return to login</a>
        </div>

    </ion-content>
</ion-view>