.m-wire--threshold-input--input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #eeeeee;
  margin: 8px 16px 0;
  padding: 0 16px;
  font-size: 20px;
  color: #888888;

  > * {
    line-height: 1;
    margin-right: 0.35em;

    &:last-child {
      margin-right: 0;
    }
  }
}

.m-wire--threshold-input--symbol {
  font-size: 24px;
}

.m-wire--threshold-input--type {
  color: #4caf50;

  svg {
    fill: #4caf50;
  }
}

.m-wire--threshold-input--fiel{
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
