minds-banner {
  display: block;
}

.m-ionic-banner--edit-button {
	position: absolute;
	top: 175px;
	right: 15px;
	margin-top: -30px;
	font-size: 20px;
	color: whitesmoke;
	z-index: 150;
  text-shadow: 0 0 3px #000;

  &.editing{
    color: #4690D6;
  }
}

.m-ionic-banner--cancel-button {
	position: absolute;
	top: 175px;
	left: 15px;
	margin-top: -30px;
	font-size: 20px;
	color: whitesmoke;
	z-index: 150;
  text-shadow: 0 0 3px #000;
}

.m-ionic-banner--add-image-button{
	position: absolute;
	z-index: 500;
	top: 60px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;

	p{
		font-size: 16px;
		color: whitesmoke;
		margin-top: 0px;
	}

	ion-icon{
		font-size: 40px;
		color: whitesmoke;
	}
}

.m-banner--header{
  background: none no-repeat center center #333333;
  background-size: cover;
  top:0;
  left:0;
  width:100%;
  height:175px;
  overflow:hidden;
}

.m-ionic-banner--edit-cover-dark {
	position: fixed;
	background-color: rgba(0,0,0,.8);
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}
