<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>

    </ion-title>
    <ion-buttons right>
      <button ion-button
        [navPush]="components.channel"
        [navParams]="{ guid: 'me' }">
        <img [src]="'https://www.minds.com/icon/' + storage.get('user_guid') +'/small'"
          width="36"
          height="36"
          style="margin: 0px; border-radius:50%;"
          />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <div *ngFor="let activity of feed">
  		<activity [entity]="activity" class="activity-item list card">
  		</activity>
    </div>

	</ion-list>


  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
