<ion-header>
  <ion-navbar>
    <ion-title>
      <img src="https://www.minds.com/icon/me/small"
        width="32"
        height="32"
        style="border-radius:50%"
        [navPush]="components.channel"
        [navParams]="{ guid: 'me' }"/>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <div *ngFor="let activity of feed">
  		<activity [entity]="activity" class="activity-item list card">
  		</activity>
    </div>

	</ion-list>


  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
