<ion-header>
  <m-header></m-header>
</ion-header>

<ion-content>

  <newsfeed-poster (prepend)="feed.unshift($event)"></newsfeed-poster>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <div *ngFor="let activity of feed" class="m-ionic-activity">
  		<activity [entity]="activity" class="activity-item list card">
  		</activity>
    </div>

	</ion-list>


  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
