m-settings--billing-subscriptions {
}

.m-settings--billing-subscriptions--subscription-item {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Lato';

  ion-label {
    display: flex;

    .m-settings--billing-subscriptions--subscription-item-select {
      flex: auto;
      text-align: right;
      color: #888;
      cursor: pointer;
    }
  }
}