
<StackLayout orientation="vertical" style="padding-bottom:16">

  <GridLayout class="list-group-item" rows="*" columns="auto, *" style="padding:8">
    <Image
      *ngIf="entity.fromObj"
      row="0"
      col="0"
      [src]="'https://www.minds.com/icon/' + entity.fromObj.guid + '/medium'"
      width="50"
      height="50"
      stretce="aspectFill"
      style="border-radius:25;"
      [nsRouterLink]="['/channel/:id', { id: entity.fromObj.guid }]"
    ></Image>

    <StackLayout [ngSwitch]="entity.notification_view" row="0" col="1" style="padding:8">
      <!-- subscribed -->
      <template ngSwitchCase="friends">
        <Label *ngIf="entity.fromObj.subscribed" [text]="'You have a match! ' + entity.fromObj.name + ' subscribed to you'"></Label>
        <Label *ngIf="!entity.fromObj.subscribed" [text]="entity.fromObj.name + ' subscribed to you'"></Label>
      </template>

      <template ngSwitchCase="group_activity">
        <StackLayout [nsRouterLink]="['/newsfeed/:id', { id: entity.entityObj.guid}]">
          <Label [text]="entity.fromObj.name + 'posted in ' + entity.params.group.name"></Label>
        </StackLayout>
      </template>

      <!-- up voted content -->
      <template ngSwitchCase="like">
        <StackLayout *ngIf="entity.entityObj" orientation="horizontal">
          <Label [text]="entity.fromObj.name + 'voted up '"></Label>

          <StackLayout *ngIf="entity.entityObj.type == 'object'">
              <Label *ngIf="entity.entityObj.title" [text]="entity.entityObj.title"></Label>
              <Label *ngIf="!entity.entityObj.title" [text]="'your' + entity.entityObj.subtype"></Label>
          </StackLayout>
          <StackLayout *ngIf="entity.entityObj.type == 'activity'" orientation="horizontal">
            <Label [text]="entity.entityObj.title || 'your activity'"></Label>
          </StackLayout>

          <StackLayout *ngIf="entity.entityObj.type == 'comment'">
            <Label text="your comment"></Label>
          </StackLayout>
          <StackLayout *ngIf="!entity.entityObj">

          </StackLayout>

        </StackLayout>
      </template>

    </StackLayout>


  </GridLayout>
</StackLayout>
