<?xml version='1.0' encoding='utf-8'?>
<widget id="com.minds.mobile" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Minds</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="AllowInlineMediaPlayback" value="true"/>
    <access origin="mailto:*" launch-external="yes"/>

   <platform name="android">
              <icon src="res/android/dpi.png" density="ldpi" />
              <icon src="res/android/dpi.png" density="mdpi" />
              <icon src="res/android/dpi.png" density="hdpi" />
              <icon src="res/android/dpi.png" density="xhdpi" />

	<splash src="res/android/screen-dpi.png" density="port-hdpi"/>
 	<splash src="res/android/screen-dpi.png" density="port-ldpi"/>
	<splash src="res/android/screen-dpi.png" density="port-mdpi"/>
	<splash src="res/android/screen-dpi.png" density="port-xhdpi"/>

     </platform>

	<preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />

    <feature name="StatusBar">
            <param name="ios-package" value="CDVStatusBar" onload="true" />
        </feature>
    <preference name="StatusBarStyle" value="blacktranslucent" />


    <feature name="Console">
           <param name="ios-package" value="CDVLogger" />
    </feature>
    <feature name="Device">
        <param name="ios-package" value="CDVDevice" />
        <param name="android-package" value="org.apache.cordova.device.Device" />
    </feature>

    <feature name="Capture">
         <param name="android-package" value="org.apache.cordova.mediacapture.Capture" />
        <param name="ios-package" value="CDVCapture" />
    </feature>    
    
    <feature name="File">
        <param name="ios-package" value="CDVFile" />
        <param name="onload" value="true" />
        <param name="android-package" value="org.apache.cordova.file.FileUtils" />
    </feature>
    <feature name="FileTransfer">
        <param name="ios-package" value="CDVFileTransfer" />
        <param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
    </feature>

    <feature name="Keyboard">
        <param name="ios-package" value="IonicKeyboard" onload="true" />
    </feature>

    <preference name="StatusBarOverlaysWebView" value="true" />
   <preference name="iosPersistentFileLocation" value="Library" />
   <preference name="BackupWebStorage" value="none" />


    <access origin="*"/>
  
</widget>
