<?xml version='1.0' encoding='utf-8'?>
<widget id="com.minds.mobile" version="0.0.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Minds</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="AllowInlineMediaPlayback" value="true"/>


    <platform name="ios">
              <!-- iOS 8.0+ -->
              <!-- iPhone 6 Plus  -->
              <icon src="res/ios/icon-60@3x.png" width="180" height="180" />
              <splash src="res/ios/screen-667h.png" width="750" height="1334"/>
              <splash src="res/ios/screen-736h.png" width="1242" height="2208"/>
              <!-- iOS 7.0+ -->
              <!-- iPhone / iPod Touch  -->
              <icon src="res/ios/icon-60.png" width="60" height="60" />
              <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
              <splash src="res/ios/screen-568h@2x.png" width="640" height="1136"/>
              <!-- iPad -->
              <icon src="res/ios/icon-76.png" width="76" height="76" />
              <icon src="res/ios/icon-76@2x.png" width="152" height="152" />
              <!-- iOS 6.1 -->
              <!-- Spotlight Icon -->
              <icon src="res/ios/icon-40.png" width="40" height="40" />
              <icon src="res/ios/icon-40@2x.png" width="80" height="80" />
              <!-- iPhone / iPod Touch -->
              <icon src="res/ios/icon.png" width="57" height="57" />
              <icon src="res/ios/icon@2x.png" width="114" height="114" />
              <splash src="res/ios/screen-iphone.png" width="320" height="480"/>
              <splash src="res/screen/ios/screen-iphone@2x.png" width="640" height="960"/>
              <!-- iPad -->
              <icon src="res/ios/icon-72.png" width="72" height="72" />
              <icon src="res/ios/icon-72@2x.png" width="144" height="144" />
              <!-- iPhone Spotlight and Settings Icon -->
              <icon src="res/ios/icon-small.png" width="29" height="29" />
              <icon src="res/ios/icon-small@2x.png" width="58" height="58" />
              <!-- iPad Spotlight and Settings Icon -->
              <icon src="res/ios/icon-50.png" width="50" height="50" />
              <icon src="res/ios/icon-50@2x.png" width="100" height="100" />
     </platform>

   <platform name="android">
              <icon src="res/android/dpi.png" density="ldpi" />
              <icon src="res/android/dpi.png" density="mdpi" />
              <icon src="res/android/dpi.png" density="hdpi" />
              <icon src="res/android/dpi.png" density="xhdpi" />

	<splash src="res/android/screen-dpi.png" density="land-hdpi"/>
 	<splash src="res/android/screen-dpi.png" density="land-ldpi"/>
	<splash src="res/android/screen-dpi.png" density="land-mdpi"/>
	<splash src="res/android/screen-dpi.png" density="land-xhdpi"/>

     </platform>


    <feature name="StatusBar">
            <param name="ios-package" value="CDVStatusBar" onload="true" />
        </feature>

    <feature name="Console">
           <param name="ios-package" value="CDVLogger" />
    </feature>
    <feature name="Device">
        <param name="ios-package" value="CDVDevice" />
        <param name="android-package" value="org.apache.cordova.device.Device" />
    </feature>

    <feature name="Capture">
         <param name="android-package" value="org.apache.cordova.mediacapture.Capture" />
        <param name="ios-package" value="CDVCapture" />
    </feature>    
    
    <feature name="File">
        <param name="ios-package" value="CDVFile" />
        <param name="onload" value="true" />
        <param name="android-package" value="org.apache.cordova.file.FileUtils" />
    </feature>
    <feature name="FileTransfer">
        <param name="ios-package" value="CDVFileTransfer" />
        <param name="android-package" value="org.apache.cordova.filetransfer.FileTransfer" />
    </feature>

    <feature name="Keyboard">
        <param name="ios-package" value="IonicKeyboard" onload="true" />
    </feature>

    <preference name="StatusBarOverlaysWebView" value="true" />
   <preference name="iosPersistentFileLocation" value="Library" />
   <preference name="BackupWebStorage" value="none" />


    <access origin="*"/>
  
</widget>
