.m-ionic-capture--post-button{
  ion-icon{
    padding-left:8px;
  }
}

.m-ionic-capture{
  padding:16px 8px;

  .m-ionic-body{
    flex:1;
  }
}
.m-ionic-capture--options{
  display:flex;
  align-items: center;

  .m-ionic-capture--options-option {
    flex: 1;
    text-align: center;

    ion-icon{
      display: block;
      font-size: 36px;
      padding: 12px 0;
      color: #888;
    }

    label{
      letter-spacing: 1px;
    }
  }
}
.m-ionic-poster--preview{
  position:relative;
  width:100%;
  min-height:200px;

  .m-ionic-poster--preview-delete{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    display: flex;
    text-align: center;
    align-items: center;

    ion-icon{
      font-size: 80px;
      color: #FFF;
      width: 100%;
    }
  }
}

.m-ionic-capture--actions{
  display: block;
  opacity:0;
  height:auto;
  max-height:0;
  overflow: hidden;
  padding:12px;

  transition: opacity 1s ease-out, max-height 1s ease-out;

  .m-mature {
    appearance: none;
    padding: 0;
    margin: 0;
    background: transparent;
    color: #cccccc;
    line-height: 0;
    float: left;
    margin-right: 4px;

    > img {
      height: 23px;
    }

    &.m-mature--active {
      color: #c00000;
    }
  }

  .m-mature-label {
    position: relative;
    top: 2px;
    display: inline-block;
    float: left;
    font-size: 8px;
    padding: 3px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    color: #cccccc;
    text-transform: uppercase;

    &.m-mature-label--active {
      border-color: #c00000;
      color: #c00000;
    }
  }

}
.m-ionic-capture--actions-show{
  display: block;
  max-height: 300px;
  opacity:1;
  height:auto;
}
