.m-ionic-capture--post-button{
  ion-icon{
    padding-left:8px;
  }
}

.m-ionic-capture{
  padding:16px 8px;

  .m-ionic-body{
    flex:1;
  }
}
.m-ionic-capture--options{
  display:flex;
  align-items: center;

  .m-ionic-capture--options-option {
    flex: 1;
    text-align: center;

    ion-icon{
      display: block;
      font-size: 36px;
      padding: 12px 0;
      color: #888;
    }

    label{
      letter-spacing: 1px;
    }
  }
}
.m-ionic-poster--preview{
  position:relative;
  width:100%;
  min-height:200px;

  .m-ionic-poster--preview-delete{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    display: flex;
    text-align: center;
    align-items: center;

    ion-icon{
      font-size: 80px;
      color: #FFF;
      width: 100%;
    }
  }
}
