.m-wire--slider > .swiper-container {
  padding-bottom: 48px;

  .swiper-pagination-bullet-active {
    //background: #ffffff;
  }
}

.m-wire--slide {
  font-size: 16px;
  letter-spacing: 1px;
  text-align: left;
  position: relative;

  > .slide-zoom {
    text-align: inherit;
  }
  ion-icon{
    right: 0;
    top: 4px;
    font-size: 36px;
    padding: 8px;
    color: #4690D6;
    position: absolute;
  }
}

.m-wire-slider--reward-amount {
  font-weight: 700;
  padding-bottom: 8px;
}

.m-wire-slider--reward-description {
  font-weight: 300;
  padding-right: 24px;
}

.m-wire-slider--empty-rewards {
  text-align: center;
  margin: 16px;
  color: #666666;
}
