.m-ionic-discovery--search{
  display: flex;
  align-items: center;
  position: fixed;
  z-index:1;
  background: #FFF;
  width: 100%;

  ion-icon{
    padding-left: 16px;
    vertical-align: middle;
  }

  ion-icon:last-child{
    padding-left:0;
    padding-right:16px;
  }

  input{
    border: 0;
    -webkit-appearance: none;
    padding: 16px;
    width: 100%;
  }
}

.m-ionic-discovery--categories{
  margin-top: 50px;
  margin-bottom: -50px;
  overflow: scroll;

  ion-segment{
    min-width: 200%;
  }
}

.m-ionic-discovery--tile{
  width: calc(100vw / 3);
  height: calc(100vw / 3);
  display: inline-block;
  position: relative;
  overflow: hidden;

  > img{
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  > div{
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: #FFF;
    background-position: center center;
    background-size: cover;

    -webkit-transition: background-image 1s ease-in;
            transition: background-image 1s ease-in;
  }
}

.m-ionic-discovery--card{
  display: flex;
  align-items: center;
  padding:4px;

  .m-ionic-discovery--card-avatar{
    padding:8px;
    img{
      width:52px;
      height:52px;
      border-radius:50%;
    }
  }
  .m-ionic-discovery--card-body{
    padding:8px;

    h3{
      padding:0;
      margin:0;
      font-size: 18px;
      letter-spacing: 1px;
    }

    .m-ionic-discovery--card-body-stats{
      display:flex;
      flex-align:column;

      .m-ionic-discovery--card-body-stat{
        padding: 4px 8px 0 0;
        font-size: 12px;
        letter-spacing: 0.5px;

        label{
          font-weight: 500;
        }
      }

    }
  }
}
