<ion-header>
  <m-header></m-header>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="refresh($event)" *ngIf="!q.value">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="m-ionic-discovery--search">
    <ion-icon name="md-search"></ion-icon>
    <input type="text" placeholder="Search..." #q (keyup)="service.search(q.value)"/>
    <ion-icon name="md-options" (click)="openOptions()" [hidden]="q.value"></ion-icon>
  </div>
  <div class="m-ionic-discovery--categories" style="margin-top: 50px; margin-bottom: -50px;" *ngIf="service.filter == 'featured'">
    <ion-segment [(ngModel)]="service.category" color="primary">
      <ion-segment-button value="all" (ionSelect)="service.setCategory('all')">
        All
      </ion-segment-button>
      <ion-segment-button *ngFor="let category of categories" [value]="category.id" (ionSelect)="service.setCategory(category.id)">
        {{category.label}}
      </ion-segment-button>
    </ion-segment>
  </div>


  <ion-list style="line-height:0;margin-top:50px;" *ngIf="service.type != 'user' && !q.value">

    <div *ngFor="let entity of service.entities"
      class="m-ionic-discovery--tile"
      [navPush]="components.view"
      [navParams]="{entity: entity}"
      [explicit]="entity.mature"
      (showExplicit)="entity.mature = false; cd.markForCheck(); cd.detectChanges()"
      >
  	    <img [src]="minds.cdn_url + 'api/v1/archive/thumbnails/' + entity.guid + '/medium'"/>
    </div>

	</ion-list>

  <ion-list style="line-height:0;padding-top:56px;" *ngIf="service.type == 'user' || q.value">

    <div *ngFor="let entity of service.entities"
      [navPush]="components.channel"
      [navParams]="{ guid: entity.guid }"
      class="m-ionic-discovery--card">
  	  <div class="m-ionic-discovery--card-avatar">
        <img [src]="minds.cdn_url + 'icon/' + entity.guid + '/medium/' + entity.icontime"/>
      </div>
      <div class="m-ionic-discovery--card-body">
        <h3>{{entity.name}}</h3>
        <div class="m-ionic-discovery--card-body-stats">
          <div class="m-ionic-discovery--card-body-stat">
            <label>Subscribers:</label>
            <span>{{entity.subscribers_count | abbr}}</span>
          </div>
          <div class="m-ionic-discovery--card-body-stat">
            <label>Views:</label>
            <span>{{entity.impressions | abbr}}</span>
          </div>
        </div>
      </div>
    </div>

	</ion-list>


  <ion-infinite-scroll (ionInfinite)="loadMore($event)" *ngIf="!q.value">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
