wallet-counter{
  display: inline-block;
  pointer-events: auto;
  vertical-align: middle;
  line-height: 1;
  vertical-align: -webkit-baseline-middle;

  img{
    height:18px;
    color:#FFF;
  }
  span{
    padding-left:4px;
  }
  img, span{
    vertical-align:middle;
    line-height:1;
  }
}
