
.m-ionic-wallet--purchase-points-input {
  text-align: center;
  padding: 16px;
  display: flex;
  align-items: center;

  input {
    padding: 16px;
    border-radius: 3px;
    background: rgba(0,0,0,0.1);
    -webkit-appearance: none;
    box-shadow: none;
    border: 0;
    letter-spacing: 2px;
    text-align: right;
  }

  label {
    padding: 8px;
    letter-spacing: 2px;
  }
}

.m-ionic-wallet--purchase-recur{
  display: flex;
  align-items: center;
  padding: 16px;

  span{
    color: #888;
    margin-left: 16px;
  }
}
