<ion-header>
  <ion-navbar>
    <ion-buttons right >
      <button ion-button (click)="purchasePoints()" style="color:#FFF">
        <ion-icon name="md-card" style="padding-right: 8px;"></ion-icon>
        Purchase
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>
<ion-content>



  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <div class="m-ionic-wallet--total">
      <img src="assets/bank_icon_black.svg"/>
      <span class="m-ionic-wallet--total-count">{{points}}</span>
      <span class="m-ionic-wallet--point-rate">1 point = 1 view</span>
    </div>

    <div class="m-ionic-wallet--menu">
      <div class="m-ionic-wallet--menu-item" [navPush]="components.history">
        <p>
          History
        </p>
        <div class="m-ionic-wallet--menu-item-subtitle">
          View your points transaction history
        </div>
      </div>

      <div class="m-ionic-wallet--menu-item" [navPush]="components.purchase">
        <p>
          Purchase points
        </p>
        <div class="m-ionic-wallet--menu-item-subtitle">
          Support Minds and buy points
        </div>
      </div>

      <div class="m-ionic-wallet--menu-item" [navPush]="components.boost">
        <p>
          Peer2Peer Boost Review
        </p>
        <div class="m-ionic-wallet--menu-item-subtitle">
          Accept or reject boosts made to you
        </div>
      </div>

    </div>


	</ion-list>


  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
