<ion-view title="Channel" ng-controller="ChannelCtrl" hide-nav-bar="true">

    <div class="carousel {{carousel_class}}">
      <ion-slide-box autoplay>
          <ion-slide ng-repeat="carousel in channel.carousels">
            <div class="box blue">
                <img image-cache ng-src="{{carousel.src}}"/>
            </div>
          </ion-slide>
        </ion-slide-box>
    </div>

    <ion-content class="channel-content">
    
        <div class="inner">

            <img image-cache ng-src="{{channel.avatar_url.large}}" style="width:140px; background:#222;"/>
            <h1 style="position:absolute; top: 0; left: 160px; font-size:24px;">{{channel.name}}</h1>
        
        </div>
        
        <ion-list>
        
            <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refresh()">
            </ion-refresher>

            <ion-item ng-repeat="activity in newsfeedItems" class="activity-item" type="item-text-wrap">
                <activity-view></activity-view>
            </ion-item>

        </ion-list>
        
        <ion-infinite-scroll 
            on-infinite="loadMore()" 
            distance="5%" 
            g-if="hasMoreData">

        </ion-infinite-scroll>
       
    </ion-content>
</ion-view>