<ion-view title="Channel" ng-controller="ChannelCtrl" hide-nav-bar="true">

    <div class="carousel {{carousel_class}}">      
      <ion-slide-box auto-play="true" does-continue="true" slide-interval="3000" delegate-handle="channel-banners" show-pager="false">
       
          <ion-slide ng-repeat="carousel in channel.carousels">
            <div class="box blue">
                <img image-cache ng-src="{{carousel.src}}"/>
            </div>
          </ion-slide>
        </ion-slide-box>
    </div>

    <ion-content class="channel-content">
        
        <a ng-if="channel.guid == $root.user_guid && !channel.carousels"style="position: absolute;width: 100%;top: -65px; padding:12px; left: 0;font-weight: bold; color:#333; text-align:center; text-decoration:none; z-index:9999;" href="#/tab/newsfeed/channel/{{channel.guid}}/edit">Add banner in settings</a>
    
    	<div class="loading">
			<i class="icon ion-loading-d" ng-if="!channel.name"></i>
		</div>
    
        <div class="inner">

			<div class="cell">
           		<img image-cache ng-src="{{channel.avatar_url.large}}/{{$root.globalCB}}"/>
            </div>
            <div class="cell">
	            <h1 ng-bind-html="channel.name"></h1>
	            <p ng-show="channel.briefdescription" class="wrap" style="width:85% color:#FFF; font-size:11px;" ng-bind-html="channel.briefdescription"></p>
            </div>
        
        </div>
        
        <div class="view-bg" ng-controller="NewsfeedCtrl">
        	<div class="item tabs tabs-secondary tabs-icon-left" style="padding:0;background-color:#F7F7F7 !important;">
		        <a class="tab-item small-font " href="#/tab/newsfeed/channel/{{channel.guid}}/subscribers" >
		        	<span style="width: 100%; display: block; font-size:11px; height: 11px; vertical-align: middle; line-height: 36px;">Subscribers</span>
		        	<!--<i class="icon ion-person-stalker"></i> -->
		        	<b>{{channel.subscribers_count}}</b>
		        </a>
		        <a class="tab-item small-font " href="#/tab/newsfeed/channel/{{channel.guid}}/subscriptions" >
		        	<span style="width: 100%; display: block; font-size:11px; height: 11px; vertical-align: middle; line-height: 36px;">Subscriptions</span>
		        	<!--<i class="icon ion-person-stalker"></i> -->
		        	<b>{{channel.subscriptions_count}}</b>
		        </a>
		         <a class="tab-item small-font " >
                    <span style="width: 100%; display: block; font-size:11px; height: 11px; vertical-align: middle; line-height: 36px;">Views</span>
                    <!--<i class="icon ion-person-stalker"></i> -->
                    <b>{{channel.impressions}}</b>
                </a>
		        
		      
		        <a class="tab-item small-font" href="#/tab/newsfeed/channel/{{channel.guid}}/edit" ng-if="channel.guid == $root.user_guid" style="min-width:112px">
		            <i class="icon ion-more"></i> Settings
		        </a>
		        
		        <a class="tab-item small-font" ng-click="subscribe(channel)" ng-if="channel.guid != $root.user_guid && channel.subscribed == false" style="min-width:112px">
		            <i class="icon ion-person-add"></i> Subscribe
		        </a>
		        <a class="tab-item small-font minds-blue" style="color:#4690C3 !important; min-width:112px;" ng-click="unSubscribe(channel)" ng-if="channel.guid != $root.user_guid && channel.subscribed == true">
		            <i class="icon ion-person-add"></i> Subscribed
		        </a>
		        
		    </div>
	        <ion-list style="min-height:600px;">
	        
	           <a style="text-align:center; font-weight:200; padding-top:50px; display:block; color:#333; text-decoration: none;" ng-if="channel.guid == $root.user_guid && ChannelItems.length == 0 && loaded == true" href="#/tab/capture">
                <img src="img/logo-transparent.png" class="loading-bulb-glow"/> <br/>
                Your wall is empty! Click to upload content.
             </a>
	        
                <ion-refresher
                    pulling-text="Pull to refresh..."
                    on-refresh="refresh()">
                </ion-refresher>
    	
	            <activity-view ng-repeat="activity in ChannelItems" class="activity-item list card item-text-wrap">
	            </activity-view>
	
	        </ion-list>
        </div>
        
        <ion-infinite-scroll 
            on-infinite="loadMore()" 
            distance="5%" 
            ng-if="hasMoreData">

        </ion-infinite-scroll>
       
    </ion-content>
</ion-view>