<ion-view title="Settings" ng-controller="ChannelEditCtrl">

	<ion-nav-buttons side="left">
        <a class="button button-clear icon ion-arrow-left-b" href="#/tab/newsfeed/channel/me"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-clear" ng-click="update()">Save</a>
    </ion-nav-buttons>

    <ion-content>
    
    	<div class="list">
			<label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" ng-model="channel.name">
            </label>
            <label class="item item-input">
                <span class="input-label">Website</span>
                <input type="text" ng-model="channel.website">
            </label>
            <label class="item item-input" ng-click="changeAvatar()">
                <span class="input-label">Avatar</span>
                <img id="avatar" ng-src="{{channel.avatar_url.large}}/{{cb}}" style="width:60%; height:auto;"/>
            </label>
            <label class="item item-input">
            </label>
            <a class="item item-input" href="mailto:mark@minds.com, bill@minds.com">
            	<span class="input-label"><i class="icon ion-email"></i></span>
                 Contact Us
			</a>
            <label class="item item-input" ng-click="changeAvatar()">
            	<span class="input-label"><i class="icon ion-power"></i></span>
                 Logout
			</label>
		</div>

    </ion-content>
</ion-view>