<ion-view title="Settings" ng-controller="ChannelEditCtrl">

	<ion-nav-buttons side="left">
        <a class="button button-clear icon ion-arrow-left-b" href="#/tab/newsfeed/channel/me"></a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-clear minds-blue"  style="color:#4690C3"  ng-click="update(true)">Save</a>
    </ion-nav-buttons>

    <ion-content>
    
    	<div class="list">
			<label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" ng-model="channel.name">
            </label>
            <label class="item item-input">
                <span class="input-label">Bio</span>
                <input type="text" ng-model="channel.briefdescription">
            </label>
            <label class="item item-input">
                <span class="input-label">City</span>
                <input type="text" ng-model="channel.city" ng-change="autoSearchLocation()">
            </label>
            
            <div class="suggested-location-list">
               <div ng-repeat="location in cities" ng-click="selectSuggestedLocation(location)" ng-if="location.address.city || location.address.town">
                   
                   {{location.address.town}}{{location.address.city}}, {{location.address.state}}
                    
               </div>
           </div>
            
            <label class="item item-input" ng-click="changeAvatar()">
                <span class="input-label">Avatar</span>
                <img id="avatar" ng-src="{{channel.avatar_url.large}}/{{cb}}" style="max-width:60%; min-height:100px; display:block; margin:auto;"/>
            </label>
             <label class="item item-input" ng-click="addBanner()">
                <span class="input-label">Add a banner</span>
            </label>
            <label class="item item-input">
            </label>
            <a class="item item-input" ng-click="invite()">
            	<span class="input-label"><i class="icon ion-plus-circled"></i></span>
                 Invite contacts
			</a>
            <a class="item item-input" href="mailto:support@minds.com">
            	<span class="input-label"><i class="icon ion-email"></i></span>
                 Contact / Bug Reports
			</a>
			 <a class="item item-input" href="{{node_url}}p/terms">
            	<span class="input-label"><i class="icon ion-ios-paper"></i></span>
                Terms
			</a>
			<a class="item item-input" href="{{node_url}}p/privacy">
            	<span class="input-label"><i class="icon ion-ios-paper"></i></span>
                Privacy Policy
            </a>
			 <a class="item item-input" href="{{node_url}}p/code">
            	<span class="input-label"><i class="icon ion-ios-paper"></i></span>
                Code
			</a>
			
			<a class="item item-input" ng-click="disable()">
                <span class="input-label"><i class="icon ion-alert-circled"></i></span>
                Cancel channel
            </a>
			
            <label class="item item-input" ng-click="logout()">
            	<span class="input-label"><i class="icon ion-power"></i></span>
                 Logout
			</label>
		</div>

    </ion-content>
</ion-view>