wire-fab{
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  position: fixed;
}

.m-ionic-wire--fab-bolt{
  text-align: center;

  ion-icon{
    color: #FFF;
    font-size: 64px;
  }
}

.m-ionic-wire--fab-bolt-animate{
  animation-name: throbAnimation;
  animation-duration: 1s;
  /* display: none; */
  animation-iteration-count: infinite;
}

.m-ionic-wire--fab{
  position: fixed;
  top: calc(50% - 150px);
  left: 5%;
  width: 90%;
  height: auto;
}

.m-ionic-wire--fab-input{
  input{
    width: 100%;
    -webkit-appearance: none;
    padding: 16px;
    border: 0;
    background: transparent;
    color: #FFF;
    text-align: center;
    font-size: 50px;
    letter-spacing: 8px;
  }
}

.m-ionic-wire--fab-options{
  color: #FFF;
  display: flex;
  align-items: center;

  .m-ionic-wire--fab-options-option {
    flex: 1;
    text-align: center;
    letter-spacing: 2px;

    ion-icon{
      display: block;
      padding-bottom: 8px;
    }
  }
  .m-ionic-wire--fab-options-option-selected{
    color: #ffca28 !important;
  }
}

.m-ionic-wire--fab-send{
  text-align: center;
  width: 100%;
  font-size: 24px;
  letter-spacing: 5px;
  margin: 42px 0px 0;
  color: #FFF;
}

.m-ionic-wire--close{
  position: fixed;
  padding: 16px;
  right: 0;
  color: #FFF;
  font-size: 25px;
}


@keyframes throbAnimation{
  0%, 40%, 80%, 50% {
    opacity: 1;
    transform: scale(1, 1) translateY(0);
  }

  20%, 60% {
    opacity: 1;
    transform: scale(1.2, 1.2) translateY(0);
  }

  100%{
    opacity: 1;
    transform: scale(1, 1) translateY(0);
  }
}
