<ion-icon name="md-close" class="m-ionic-wire--close" (click)="dismiss()"></ion-icon>
<div class="m-ionic-wire--fab">

  <div class="m-ionic-wire--fab-bolt m-ionic-wire--fab-button"
    [class.m-ionic-wire--fab-bolt-animate]="animate">
    <ion-icon name="ios-flash" class="m-ionic-icon"></ion-icon>
  </div>

  <div class="m-ionic-wire--fab-input">
    <input type="number" [(ngModel)]="amount" />
  </div>

  <div class="m-ionic-wire--fab-options">
    <div class="m-ionic-wire--fab-options-option"
      [class.m-ionic-wire--fab-options-option-selected]="method == 'points'"
      (click)="selectMethod('points')">
      <m-mdl-icon icon="bank"></m-mdl-icon>
      Points
    </div>
    <div class="m-ionic-wire--fab-options-option"
      [class.m-ionic-wire--fab-options-option-selected]="method == 'money'"
      (click)="selectMethod('money')">
      <ion-icon name="logo-usd" class="m-ionic-icon"></ion-icon>
      Money
    </div>
    <div class="m-ionic-wire--fab-options-option"
      [class.m-ionic-wire--fab-options-option-selected]="method == 'bitcoin'"
      (click)="selectMethod('bitcoin')">
      <ion-icon name="logo-bitcoin" class="m-ionic-icon"></ion-icon>
      Bitcoin
    </div>
  </div>

  <div class="m-ionic-wire--fab-payment" *ngIf="method == 'money'">
    <minds-card-selector *ngIf="!payload?.nonce" (inputed)="setPayload({ nonce: $event})"></minds-card-selector>
    <div class="m-ionic-wire--fab-payment-attached" *ngIf="payload?.nonce">
      <ion-icon name="checkmark-circle"></ion-icon>
      <span>Your payment is attached. <b (click)="payload = null">Change</b></span>
    </div>
  </div>

  <div class="m-ionic-wire--fab-recurring">
    <ion-checkbox [(ngModel)]="recurring"></ion-checkbox>
    <label>Repeat this transaction monthly</label>
  </div>

  <div class="m-ionic-wire--fab-rewards" *ngIf="owner && owner.wire_rewards">
    <h2>{{ owner.username }}'s rewards</h2>

    <div *ngIf="sums" class="m-ionic-wire--fab-rewards--sums">
      You have sent

      <b *ngIf="method == 'points'">
        {{ sums.points | number }} points
      </b>

      <b *ngIf="method == 'money'">
        {{ sums.money | currency:'USD':true:'1.0-0' }}
      </b>

      in the last month.
    </div>

    <m-wire-slider type="points"
      *ngIf="method == 'points'"
      [rewards]="owner.wire_rewards?.rewards.points"
      [slideToAmount]="amount"
      [autoplay]="false"
      [sums]="sums"
    ></m-wire-slider>

    <m-wire-slider type="money"
      *ngIf="method == 'money'"
      [rewards]="owner.wire_rewards?.rewards.money"
      [slideToAmount]="amount"
      [autoplay]="false"
      [sums]="sums"
    ></m-wire-slider>
  </div>

  <button ion-button clear class="m-ionic-wire--fab-send" (click)="send()" *ngIf="!inProgress">Send</button>

</div>
