wire-fab{
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  background: rgba(248, 248, 248, 0.97);
  position: fixed;
  overflow: scroll;
  overflow-x: hidden;
}

.m-ionic-wire--fab-bolt{
  text-align: center;

  ion-icon{
    color: #4690D6;
    font-size: 64px;
  }
}

.m-ionic-wire--fab-subtext {
  font-size: 12px;
  text-align: center;
  color: #666666;
  margin-top: 12px;
  font-weight: 200;

  b {
    font-weight: 400;
  }
}

.m-ionic-wire--fab-bolt-animate{
  animation-name: throbAnimation;
  animation-duration: 1s;
  /* display: none; */
  animation-iteration-count: infinite;
}

.m-ionic-wire--fab{
  position: relative;
  margin-top: 56px;
  left: 5%;
  width: 90%;
  height: auto;
}

.m-ionic-wire--fab-input{
  input{
    width: 100%;
    -webkit-appearance: none;
    padding: 16px;
    border: 0;
    background: transparent;
    color: #666;
    text-align: center;
    font-size: 50px;
    letter-spacing: 8px;
  }
}

.m-ionic-wire--fab-options{
  color: #666;
  display: flex;
  align-items: center;

  .m-ionic-wire--fab-options-option {
    flex: 1;
    text-align: center;
    letter-spacing: 2px;
    font-size: 16px;

    ion-icon {
      display: block;
      padding-bottom: 8px;
    }

    m-mdl-icon {
      display: block;
      font-size: 24px;
      svg {
        fill: #666;
      }
    }
  }
  .m-ionic-wire--fab-options-option-selected{
    color: #4690D6 !important;

    m-mdl-icon svg {
      fill: #4690D6;
    }
  }
}

.m-ionic-wire--fab-recurring {
  text-align: center;
  width: 100%;
  font-size: 13px;
  letter-spacing: 2px;
  margin: 42px 0px 0;
  color: #666;

  > * {
    vertical-align: middle;
  }
}

.m-ionic-wire--fab-send{
  text-align: center;
  width: auto;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 24px auto 0;
  color: #666;
  border: 1px solid #666;
  display: block;
}

.m-ionic-wire--close{
  position: fixed;
  padding: 16px;
  right: 0;
  color: #666;
  font-size: 25px;
}

.m-ionic-wire--fab-payment {
  text-align: center;
  padding-top: 25px;
  color: #666;

  .m-ionic-wire--fab-payment-attached {
    font-size: 18px;
  }
}


@keyframes throbAnimation{
  0%, 40%, 80%, 50% {
    opacity: 1;
    transform: scale(1, 1) translateY(0);
  }

  20%, 60% {
    opacity: 1;
    transform: scale(1.2, 1.2) translateY(0);
  }

  100%{
    opacity: 1;
    transform: scale(1, 1) translateY(0);
  }
}

wire-fab .m-ionic-wire--fab-rewards {
  margin: 32px 0 0;
  padding: 8px;
  background: rgba(248, 248, 248, 0.35);
  border-radius: 8px;

  h2 {
    margin: 0 0 8px;
    color: #666;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
  }

  .m-wire--slide {
    color: #666;
    text-align: center;
  }

  .m-ionic-wire--fab-rewards--sums {
    padding: 0 16px 16px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 0.5px;
    text-align: center;

    b {
      font-weight: 400;
    }
  }
}
