<ion-view title="Capture" class="white-bg" ng-controller="CaptureCtrl">
	
        <ion-nav-buttons side="left" ng-if="captured">
            <a class="button button-clear" ng-click="reset()">Back</a>
        </ion-nav-buttons>
	<ion-content >
	
    	<div ng-hide="captured">
    	   <ion-list class="capture-options">
            
               
                <ion-item ng-click="video()">
                    <h1>Video</h1>
                </ion-item>
                
                <ion-item ng-click="photo()">
                    <h1>Photo</h1>
                </ion-item>
    
            </ion-list>
        </div>
        
            <div ng-show="captured">   
            <form >
                 
               <progress max="100" value="{{progress}}"> </progress>
               <div class="list">
                  <label class="item item-input item-floating-label">
                    <span class="input-label">Title</span>
                    <input type="text" placeholder="Title" ng-model="form.title">
                  </label>
                  <label class="item item-input item-floating-label">
                    <span class="input-label">Description</span>
                    <textarea placeholder="Description" ng-model="form.description"></textarea>
                  </label>
                  
                  <div ng-if="guid">
                    <input type="submit" class="button button-block button-positive" value="Save" ng-click="save()" style="width=100%"/>
                  </div>
                </div>
            </form>

        </div>
       
	</ion-content>

</ion-view>