<ion-view title="Capture" class="white-bg" ng-controller="CaptureCtrl">
	
	<ion-content>
	
    	<div ng-hide="captured">
    	   <ion-list class="capture-options">
            
               
                <ion-item ng-click="video()">
                    <h1 class="icon ion-ios7-videocam"></h1>
                </ion-item>
                
                <ion-item ng-click="photo()">
                    <h1 class="icon ion-camera"></h1>
                </ion-item>
                
                <ion-item ng-click="activity()">
                    <h1 class="icon ion-compose"></h1>
                </ion-item>
                
                <ion-item ng-click="library()">
                    <h1 class="icon ion-ios7-albums"></h1>
                </ion-item>
    
            </ion-list>
        </div>
        
            <div ng-show="captured">   
            <form >
                 
               <progress max="100" value="{{progress}}"> </progress>
               <div class="list">
                  <label class="item item-input item-stacked-label">
                    <span class="input-label">Title</span>
                    <input type="text" placeholder="Title" ng-model="form.title">
                  </label>
                 <!-- <label class="item item-input item-stacked-label">
                    <span class="input-label">Description</span>
                    <textarea placeholder="Description" ng-model="form.description"></textarea>
                  </label>-->
                   <label class="item item-input item-select">
	                    <span class="input-label">License</span>
	                    <select ng-model="form.license">
	                    	<option value="allrightsreserved">All rights reserved</option>
	                    	<option value="attribution-cc">Creative commons (Attribution)</option>
	                    </select>
                  </label>
                  
                  <div ng-if="guid">
                    <input type="submit" class="button button-block button-positive" value="Save" ng-click="save()" style="width=100%"/>
                  </div>
                  
                  <p style="padding:16px; color:#666;">
                    By uploading this content you confirm that you have the right to distribute this content under the selected license.
                  </p>
                </div>
            </form>

        </div>
       
	</ion-content>

</ion-view>