.m-wire-lock-screen {
  $overlay-a: rgba(0, 0, 0, 0.05);
  $overlay-b: rgba(0, 0, 0, 0.35);

  background: linear-gradient($overlay-a, $overlay-b), url(../assets/wire-lock.jpg) no-repeat center;
  background-size: cover;
  color: #ffffff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  text-align: center;
}

.m-wire-lock-screen--icon {
  padding: 16px 0 0;

  > ion-icon {
    font-size: 96px;
  }
}

.m-wire-lock-screen--legend {
  padding: 0 16px 16px;
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 3px;

  > * {
    vertical-align: middle;
  }
}

.m-wire-lock-screen--description {
  padding: 0 5% 16px;
  font-size: 12px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.61;
}

// Exclusive

.m-wire-lock-screen--exclusive-self,
.m-wire-lock-screen--exclusive {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;

  .m-wire-lock-screen--exclusive-button {
    margin-left: 16px;
  }
}

.m-wire-lock-screen--exclusive-self {
  font-weight: 200;
}

.m-wire-lock-screen--exclusive-button {
  height: auto;
  padding: 8px;
  background: #4caf50;
  font-size: 14px;

  ion-icon {
    font-weight: bold;
    margin-right: 0.35em;
  }

  ion-spinner {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.35em;

    * {
      width: 1.2em;
      height: 1.2em;
      stroke: #ffffff;
      fill: #ffffff;
    }
  }
}
