<ion-view title="<input type='text' placeholder='search' style='margin:5px; padding-left:12px; background:#EEE; '>" ng-controller="DiscoverCtrl" class="view-bg">

<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs">
      
      <a class="tab-item active" href="#">
        <i class="icon ion-arrow-graph-up-right"></i>
        Trending
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-star"></i>
        Test
      </a>
      <a class="tab-item active" href="#">
        <i class="icon ion-ios7-videocam"></i>
        Videos
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-image"></i>
        Images
      </a>
       <a class="tab-item" href="#">
        <i class="icon ion-person-stalker"></i>
        Directory
      </a>

    </div>
  </div>
</div>

	<ion-content>

		<ion-list>
		
			<ion-refresher
				pulling-text="Pull to refresh..."
				on-refresh="refresh()">
			</ion-refresher>

			

		</ion-list>
		
		<ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="hasMoreData"></ion-infinite-scroll>

	</ion-content>
</ion-view>