<ion-view ng-controller="DiscoverCtrl" class="view-bg">

    <ion-nav-title>
       <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Search">
          </label>
          <button class="button button-clear" ng-show="search.q">
            Cancel
          </button>
        </div>
    </ion-nav-title>

    <div class="tabs-striped tabs-top tabs-background-white tabs-color-light">
        <div class="tabs">
          
         
          <a class="tab-item" ng-class="{active: filter == 'suggested'}" ng-click="changeFilter('suggested')">
            <i class="icon ion-lightbulb"></i>
            Suggested
          </a>
          <a class="tab-item" ng-class="{active: filter == 'trending'}" ng-click="changeFilter('trending')">
            <i class="icon ion-arrow-graph-up-right"></i>
            Trending
          </a>
          <a class="tab-item" ng-class="{active: filter == 'featured'}" ng-click="changeFilter('featured')">
            <i class="icon ion-star"></i>
            Featured
          </a>
          <a class="tab-item" ng-class="{active: type == 'video'}" ng-click="changeType('video')">
            <i class="icon ion-ios-videocam"></i>
            Videos
          </a>
          <a class="tab-item" ng-class="{active: type == 'image'}" ng-click="changeType('image')">
            <i class="icon ion-image"></i>
            Images
          </a>
           <a class="tab-item" ng-class="{active: type == 'channel'}" ng-click="changeType('channel')">
            <i class="icon ion-person-stalker"></i>
            Directory
          </a>
    
        </div>
      </div>
    </div>

    <!-- List view -->
	<ion-content style="padding-top:50px" scroll="{{infinite}}">

		<ion-list>
		
			<ion-refresher
				pulling-text="Pull to refresh..."
				on-refresh="refresh()">
			</ion-refresher>

			<div ng-repeat="entity in entities" ng-class="{stack: view == 'swipe'}">
                <div ng-switch="entity.type">
                
                    <!-- Objects -->
                    <div ng-switch-when="object">
                        <div class="list card" ng-include src="'templates/discover/entities/object.html'"></div>
                    </div>
                    
                    <!-- USERS -->
                    <div ng-switch-when="user">
                        <div class="list card" ng-include src="'templates/discover/entities/user.html'" subscribe></div>
                    </div>
                    
                </div>
			</div>
    			                
		</ion-list>
		
		<ion-infinite-scroll on-infinite="load()" distance="1%" ng-if="hasMoreData && infinite"></ion-infinite-scroll>

	</ion-content>
	
	
</ion-view>