<ion-view ng-controller="DiscoverCtrl" class="view-bg">

    <ion-nav-title>
       <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="query.string" ng-keyup="search()">
          </label>
          <button class="button button-clear" ng-show="search.q" style="display:none;">
            Cancel
          </button>
        </div>
    </ion-nav-title>

    <div class="tabs-striped tabs-icon-top tabs-top tabs-background-white tabs-color-light">
        <div class="tabs">
          
         
          <a class="tab-item" ng-class="{active: filter == 'suggested'}" ng-click="changeFilter('suggested')">
            <i class="icon ion-shuffle"></i>
            Suggested
          </a>
          <a class="tab-item" ng-class="{active: filter == 'trending'}" ng-click="changeFilter('trending')">
            <i class="icon ion-arrow-graph-up-right"></i>
            Trending
          </a>
          <a class="tab-item" ng-class="{active: filter == 'featured'}" ng-click="changeFilter('featured')">
            <i class="icon ion-star"></i>
            Featured
          </a>
          <a class="tab-item" ng-class="{active: type == 'video'}" ng-click="changeType('video')">
            <i class="icon ion-ios7-videocam"></i>
            Videos
          </a>
          <a class="tab-item" ng-class="{active: type == 'image'}" ng-click="changeType('image')">
            <i class="icon ion-image"></i>
            Images
          </a>
           <a class="tab-item" ng-class="{active: type == 'channel'}" ng-click="changeType('channel')">
            <i class="icon ion-person-stalker"></i>
            Directory
          </a>
    
        </div>
      </div>
    </div>

    <!-- Scroll view -->
    <ion-content class="forced-scroll" ng-show="filter == 'search'" style="padding-top:80px" scroll="true">
    		
    		<div ng-show="entities.length == 0" style="text-align:center; font-weight:200; padding-top:50px;">
				<img src="img/logo-transparent.png" class="loading-bulb-glow"/> <br/>
				discovering..
			</div>
    
			<div ng-repeat="entity in entities" class="swipe-container" ng-if="filter == 'search'">
			
	            <div ng-switch="entity.type">
	            
	                <!-- Objects -->
	                <div ng-switch-when="object">
	                    <div class="list card tabs-background-white " ng-include src="'templates/discover/entities/object.html'" swipe swipe-disable-vertical="true" swipe-on-down="down(entity)" swipe-on-left="pass(entity)" swipe-on-right="up(entity)"></div>
	                </div>
	                
	                <!-- USERS -->
	                <div ng-switch-when="user">
	                    <div class="list card tabs-background-white" ng-include src="'templates/discover/entities/user.html'" swipe swipe-disable-vertical="true" swipe-on-left="ignore(entity)" swipe-on-right="subscribe(entity)"></div>
	                </div>
	                
	            </div>
			</div>
	</ion-content>
    
	<ion-pane style="padding-top:102px" style="-webkit-transform: translate3d(0px, 0px, 0px);" ng-if="filter != 'search'">

		<div ng-show="entities.length == 0" style="text-align:center; font-weight:200; padding-top:50px;">
			<img src="img/logo-transparent.png" class="loading-bulb-glow"/> <br/>
			discovering..
		</div>

		<div ng-repeat="entity in entities" class="swipe-container" ng-show="$index == 0">
		
            <div ng-switch="entity.type">
            
                <!-- Objects -->
                <div ng-switch-when="object">
                    <div class="list card tabs-background-white " ng-include src="'templates/discover/entities/object.html'" swipe swipe-on-down="down(entity)" swipe-on-left="pass(entity)" swipe-on-right="up(entity)"></div>
                </div>
                
                <!-- USERS -->
                <div ng-switch-when="user">
                    <div class="list card tabs-background-white" ng-include src="'templates/discover/entities/user.html'" swipe swipe-on-left="ignore(entity)" swipe-on-right="subscribe(entity)"></div>
                </div>
                
            </div>
		</div>
    			                
	</ion-pane>
	
	
</ion-view>