
<div class="m-ionic-comments--comment">

  <div class="m-ionic-comments--owner-block m-ionic-owner-block">
    <div class="m-ionic-avatar" [navPush]="components.channel" [navParams]="{ channel: entity.ownerObj }">
      <img [src]="minds.cdn_url + 'icon/' +  entity.ownerObj.guid + '/medium'" class="mdl-shadow--2dp" imgFade/>
    </div>
    <div class="m-ionic-body">
      <a [navPush]="components.channel" [navParams]="{ guid: entity.ownerObj.guid}">
  			<strong>@{{entity.ownerObj.username}}</strong>
  		</a>
  		<a>
  			<span>{{entity.time_created * 1000 | date:'medium'}}</span>
  		</a>
    </div>
    <div class="m-ionic-tabs">
      <minds-button-thumbs-up [entity]="entity"></minds-button-thumbs-up>
      <minds-button-thumbs-down [entity]="entity"></minds-button-thumbs-down>
      <div class="m-ionic-tabs--tab">
        <ion-icon name="md-more" class="m-ionic-icon" (click)="openSettings($event)"></ion-icon>
      </div>
    </div>
  </div>

  <div class="m-ionic-comments--comment-body">
    <p allow-text-select [innerHtml]="entity.description | tags" *ngIf="!editing"
      [explicit]="entity.mature" (showExplicit)="entity.mature = !$event; cd.markForCheck(); cd.detectChanges()"
    ></p>

    <div class="m-ionic-editable-container" *ngIf="editing">
    	<!-- NOTE the intentional single way binding for ngModel, we want to be able to cancel our changes -->
    	<m-textarea #commentEdit [mModel]="entity.description" (mModelChange)="commentEdit.value = $event"></m-textarea>
    	<button ion-button (click)="commentEdit.value = entity.description; editing=false;" i18n>Cancel</button>
    	<button ion-button (click)="entity.description = commentEdit.value; save();" i18n>Save</button>
    </div>

    <!-- Rich content -->
    <div class="m-ionic-comments--rich-embed"
      *ngIf="entity.perma_url && entity.title"
      (click)="openInBrowser(entity.perma_url)"
      [explicit]="entity.mature" (showExplicit)="entity.mature = !$event; cd.markForCheck(); cd.detectChanges()"
    >
      <img [src]="entity.thumbnail_src" (error)="entity.thumbnail_src = null" *ngIf="entity.thumbnail_src">
      <div class="m-ionic-comments--rich-embed-meta">
        <h3>{{entity.title}}</h3>
        <p>{{entity.perma_url | domain }}</p>
      </div>
    </div>

    <!-- Images -->
    <div class="m-ionic-image allow-select"
      [explicit]="entity.mature" (showExplicit)="entity.mature = !$event; cd.markForCheck(); cd.detectChanges()"
     *ngIf="entity.thumbnail_src && !entity.perma_url">
    	<a>
    		<img [src]="entity.thumbnail_src" (error)="entity.thumbnail_src = null">
    	</a>
    </div>

    <!-- Custom type:: batch -->
    <div class="m-ionic-image allow-select"
      [explicit]="entity.mature" (showExplicit)="entity.mature = !$event; cd.markForCheck(); cd.detectChanges()"
     *ngIf="entity.custom_type == 'batch'">

    	<a>
    		<img [src]="entity.custom_data[0].src" style="width:100%"
          (error)="entity.custom_data[0].src = minds.cdn_url + 'assets/logos/medium.png'"
          imgFade
          *ngIf="entity.custom_data"
        >
    	</a>
    </div>
  </div>

</div>
