<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>

    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content #scrollArea>

  <ion-refresher (ionRefresh)="loadEarlier($event)">
    <ion-refresher-content *ngIf="inProgress"></ion-refresher-content>
  </ion-refresher>

  <ion-list class="m-ionic-comments--list">

    <div *ngFor="let comment of comments; let i = index">
      <comment [entity]="comment" (deleted)="delete(i)"></comment>
    </div>

	</ion-list>

</ion-content>

<div class="m-ionic-comments--composer">
  <div class="m-ionic-avatar">
    <img [src]="minds.cdn_url + 'icon/' +  storage.get('user_guid') + '/medium'" class="mdl-shadow--2dp"/>
  </div>
  <div class="m-ionic-body">
    <m-textarea placeholder="Write your comment..." [(mModel)]="message"></m-textarea>
  </div>
  <div class="m-ionic-comments--actions" *ngIf="message">
    <ion-icon name="md-send" (click)="post()"></ion-icon>
  </div>
</div>
