<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>

    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content #scrollArea>

  <ion-refresher (ionRefresh)="loadEarlier($event)">
    <ion-refresher-content *ngIf="inProgress"></ion-refresher-content>
  </ion-refresher>

  <ion-list class="m-ionic-comments--list">

    <div *ngFor="let comment of comments; let i = index">
      <comment
        [entity]="comment"
        (deleted)="delete(i)"
        (onReply)="reply($event.comment)"
      ></comment>
    </div>

	</ion-list>

</ion-content>

<div class="m-ionic-comments--composer-wrapper">
  <div class="m-ionic-comments--composer">
    <div class="m-ionic-avatar">
      <img [src]="minds.cdn_url + 'icon/' +  storage.get('user_guid') + '/medium'" class="mdl-shadow--2dp"/>
    </div>
    <div class="m-ionic-comments--capture">
      <ion-icon name="md-camera" (click)="openCamera()"></ion-icon>
    </div>
    <div class="m-ionic-comments--more-actions">
      <ion-icon name="md-more" (click)="moreActions()"></ion-icon>
    </div>
    <div class="m-ionic-body">
      <m-textarea placeholder="Write your comment..." [(mModel)]="meta.comment" #textarea="Textarea"></m-textarea>
    </div>
    <div class="m-ionic-comments--actions" *ngIf="meta.comment || meta.attachment_guid">
      <ion-icon name="md-send" (click)="post()"></ion-icon>
    </div>
  </div>

  <div class="m-ionic-comments--attachments" [class.m-has-preview]="attachment.previewUri">
    <m-rich-input [richInput]="meta.comment" (richInputMeta)="setRichMeta($event)"></m-rich-input>

    <div class="m-ionic--progress-bar" *ngIf="progress > 0">
      <div class="m-ionic--progress-bar-progress" [style.width]="progress + '%'"></div>
    </div>

    <div class="m-ionic-comments--preview" *ngIf="attachment.previewUri" (click)="attachment.reset()">
      <img [src]="attachment.previewUri" style="display: block;width: 100%;" #preview (error)="preview.style.display = 'none'"/>

      <div class="m-ionic-comments--preview-delete">
        <ion-icon name="md-trash"></ion-icon>
      </div>
    </div>
  </div>
</div>
