.m-ionic-comments--list{
  margin-bottom:100px;
}

.m-ionic-comments--owner-block{
  padding-left:8px;

  img{
    max-width:32px;
    min-width:32px;
    max-height:32px;
    min-height:32px;
  }

  .m-ionic-tabs{
    width: 100px;
  }
}

.m-ionic-comments--comment{
  display:block;
  padding-bottom: 16px;

  p{
    margin:0;
    padding: 0 16px 8px;
    letter-spacing:0.3px;
    line-height: 18px;
  }
}



.m-ionic-comments--composer-wrapper{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index:9999;

  .m-ionic-comments--composer {
    display: flex;
    align-items: center;
    padding: 8px;
    width: 100%;
    border-top: 1px solid #EEE;
    background:#FFF;

    .m-ionic-avatar {
      flex: 1;
      line-height: 0;

      img {
        max-width: 25px;
        min-width: 25px;
        max-height: 25px;
        min-height: 25px;
      }
    }

    .m-ionic-comments--capture {
      flex: 1;
      font-size: 22px;
      line-height: 0;
      padding-left: 8px;

      ion-icon {
        color: #cccccc;
      }
    }

    .m-ionic-comments--more-actions {
      flex: 1;
      line-height: 0;
      padding-left: 8px;
      display: flex;

      ion-icon {
        font-size: 22px;
        color: #cccccc;
      }
    }

    .m-ionic-body {
      flex: 100%;
      overflow: hidden;
      padding: 8px;
    }

    textarea {
      resize: none;
      border: 0;
      min-height: 0;
      height: auto;
    }

    suggestions-list{
      position: fixed;
      z-index: 100;
      left: 0;
      bottom: 10px;
      width: 100%;
    }

    .m-ionic-comments--actions{
      flex: 1;
      align-items: center;
      ion-icon{
        font-size:24px;
      }
    }
  }

  .m-ionic-comments--attachments {
    position: relative;

    &.m-has-preview {
      min-height: 48px;
    }

    .m-ionic-comments--preview-delete {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 36px;
      color: #cccccc;
      text-shadow: 0 0 2px rgba(0, 0, 0, 0.65);
    }
  }
}

.m-ionic-comments--rich-embed {
  margin: 0 16px;
  border: 1px solid #eeeeee;
}

.m-ionic-comments--rich-embed, .m-ionic-comments--attachments .m-ionic-rich-embed{
  padding: 8px;
  background: #ffffff;

  img{
    width: 25%;
    height: 100%;
    min-width: 25%;
    max-width: 100%;
    max-height: 120px;
    float: left;
  }

  .m-ionic-comments--rich-embed-meta {
    margin-left: 25%;
    padding: 0 8px;
  }

  h3{
    font-size:16px;
    margin: 0 0 8px;
    padding: 0;
  }

  p{
    margin: 0;
    padding: 0;
    color:#888;
  }

  &:before,
  &:after {
      content: " ";
      display: table;
  }
  &:after {
      clear: both;
  }
}

.m-ionic-comments--attachments .m-ionic-rich-embed {
  h3, p {
    margin-left: calc(25% + 8px);
  }
}
