<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>

    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content #scrollArea>

  <ion-refresher (ionRefresh)="loadEarlier($event)">
    <ion-refresher-content *ngIf="inProgress"></ion-refresher-content>
  </ion-refresher>

  <ion-list class="m-ionic-comments--list">

    <div *ngFor="let comment of comments">

      <div class="m-ionic-comments--owner-block m-ionic-owner-block">
        <div class="m-ionic-avatar" [navPush]="components.channel" [navParams]="{ channel: comment.ownerObj }">
          <img [src]="'https://www.minds.com/icon/' +  comment.ownerObj.guid + '/medium'" class="mdl-shadow--2dp" imgFade/>
        </div>
        <div class="m-ionic-body">
          <a [navPush]="components.channel" [navParams]="{ guid: comment.ownerObj.guid}">
      			<strong>@{{comment.ownerObj.username}}</strong>
      		</a>
      		<a>
      			<span>{{comment.time_created * 1000 | date:'medium'}}</span>
      		</a>
        </div>
        <div class="m-ionic-tabs">
          <minds-button-thumbs-up [entity]="comment"></minds-button-thumbs-up>
          <minds-button-thumbs-down [entity]="comment"></minds-button-thumbs-down>
        </div>
      </div>

      <div class="m-ionic-comments--comment">
        <p allow-text-select [innerHtml]="comment.description | tags"></p>
      </div>
    </div>

	</ion-list>





</ion-content>

<div class="m-ionic-comments--composer">
  <div class="m-ionic-avatar">
    <img [src]="'https://www.minds.com/icon/' +  storage.get('user_guid') + '/medium'" class="mdl-shadow--2dp"/>
  </div>
  <div class="m-ionic-body">
    <m-textarea placeholder="Write your comment..." [(mModel)]="message"></m-textarea>
  </div>
  <div class="m-ionic-comments--actions" *ngIf="message">
    <ion-icon name="md-send" (click)="post()"></ion-icon>
  </div>
</div>
