
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>

    </ion-title>
    <ion-buttons right>
      <wallet-counter></wallet-counter>
      <button ion-button
        [navPush]="components.channel"
        [navParams]="{ guid: 'me' }">
        <img [src]="'https://www.minds.com/icon/' + storage.get('user_guid') +'/small'"
          width="36"
          height="36"
          imgFade
          style="margin: 0px; border-radius:50%;"
          />
      </button>
    </ion-buttons>
  </ion-navbar>
