
  <ion-navbar>
    <ion-buttons left>
      <notifications-counter style="padding-left: 12px;"></notifications-counter>
    </ion-buttons>

    <div
      [navPush]="components.channel"
      [navParams]="{ guid: 'me' }"
      class="m-ionic--vanity-avatar"
      >
      <img [src]="'https://www.minds.com/icon/' + storage.get('user_guid') +'/medium'"
        width="40"
        height="40"
        imgFade
        style="margin: 0px; border-radius:50%; box-shadow: 0 0 6px #546e7a;"
        />
    </div>

    <ion-buttons right>
      <wallet-counter style="padding-right: 12px;"></wallet-counter>
    </ion-buttons>

  </ion-navbar>
