
<ion-content>

  <div class="m-ionic-blog" *ngIf="blog.guid">
    <div class="m-ionic-blog--banner">
      <img class="minds-banner-img" [src]="minds.cdn_url + 'fs/v1/banners/' + blog.guid">
    </div>

    <h1>{{blog.title}}</h1>

    <div class="m-ionic-blog--owner-block m-ionic-owner-block">
      <div class="m-ionic-avatar">
    		<a>
    			<img [src]="minds.cdn_url + '/icon/' + blog.ownerObj.guid + '/medium/' + blog.ownerObj.icontime"
            class="mdl-shadow--2dp"
            imgFade
            />
    		</a>
    	</div>
    	<div class="m-ionic-body">
    		<a>
    			<strong>{{blog.ownerObj.name}}</strong>
    		</a>
    	</div>
      <div class="m-ionic-blog--buttons">
        <minds-button-thumbs-up [entity]="blog" ></minds-button-thumbs-up>
        <minds-button-thumbs-down [entity]="blog" ></minds-button-thumbs-down>
        <minds-button-comment [entity]="blog" ></minds-button-comment>
        <minds-button-remind [entity]="blog" ></minds-button-remind>
      </div>
    </div>

    <div class="m-ionic-blog--body" [innerHtml]="blog.description" allow-text-select></div>

  </div>


</ion-content>
