<owner-brief-view owner="::entity.ownerObj" ts="::entity.time_created" show-more-button="true" open-actions="openActions(entity)"></owner-brief-view>

<!-- Video -->
<div class="item item-image item-image-video" ng-if="entity.subtype == 'video' || entity.subtype == 'audio'" play-video playsrc="{{entity.src['360.mp4']}}">
          
	<img ng-src="{{entity.thumbnail_src}}" onerror="this.src='img/img-placeholder.png'">
     <i class="icon ion-play"></i>
     <div class="overlay">
    	<h2  ng-bind-html="entity.title"></h2>
     </div>

     <video id="video" ng-show="showVideo" width="100%" height="100%" style="background:#000;" loop preload="auto"></video>
     
</div>

<!-- Image -->
<div class="item item-image allow-select" ng-if="entity.subtype == 'image'">
    <div class="overlay">
        <h2  ng-bind-html="entity.title"></h2>
     </div>
   <img ng-src="{{entity.thumbnail_src}}">
</div>

<!-- Article/blog -->
<div class="item item-image" ng-if="entity.subtype == 'blog'" ng-click="openUrl(entity.perma_url)">
   <img ng-src="{{entity.thumbnail_src}}">
</div>

<div class="item item-wrap-content" ng-show="entity.subtype == 'blog'" ng-click="openUrl(entity.perma_url)">
   <h3 ng-bind-html="entity.title"></h3>
   <p>{{entity.perma_url}}</p>
</div>

<div class="boosted-bar" ng-show="entity.boosted">
    <i class="icon ion-arrow-graph-up-right"></i> Boosted
</div>

<div class="item tabs tabs-secondary tabs-icon-left">
	<a class="tab-item discover-button discover-button-pass" href="#" ng-click="pass(entity)">
		<i class="icon">Pass</i> <b  style="font-size:14px; padding:2px 0 0" ng-if="entity['thumbs:pass:count'] > 0">{{entity['thumbs:pass:count']}}</b>
    </a>
    <a class="tab-item discover-button discover-button-down" href="#" ng-click="down(entity)" thumbs="{{entity['thumbs:down:user_guids']}}">
    	<i class="icon ion-thumbsdown"></i>  <b  style="font-size:14px; padding:2px 0 0; color:red;" ng-if="entity['thumbs:down:count'] > 0">{{entity['thumbs:down:count']}}</b>
    </a>
    <a class="tab-item discover-button discover-button-up" href="#" ng-click="up(entity)" thumbs="{{entity['thumbs:up:user_guids']}}">
      <i class="icon ion-thumbsup"></i>  <b  style="font-size:14px; padding:2px 0 0" ng-if="entity['thumbs:up:count'] > 0">{{entity['thumbs:up:count']}}</b>
    </a>
</div>
