
<a class="item item-image item-image-user" href="#/tab/newsfeed/channel/{{entity.guid}}">
    <img ng-src="{{$root.node_url}}icon/{{entity.guid}}/large">
    <div class="overlay">
    	<h1>{{entity.name}}</h1>
    </div>
</a>

<div class="boosted-bar" ng-show="entity.boosted">
    <i class="icon ion-arrow-graph-up-right"></i> Boosted
</div>
    
<div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item discover-button discover-button-no" href="#" ng-click="ignore(entity)">
		<i class="icon ion-close"></i>
    </a>
    <a class="tab-item small-font discover-button discover-button-subscribe" ng-if="!entity.subscribed" href="#" ng-click="subscribe(entity)">
      <i class="icon ion-person-add"></i> <b>{{entity.subscribers_count}}</b>
    </a>
    <a class="tab-item small-font discover-button discover-button-subscribe" ng-if="entity.subscribed" href="#" ng-click="subscribe(entity)">
      Un-Subscribe
    </a>
</div>
<div class="item" ng-show="entity.description">
	{{entity.description}}
</div>