<ion-view title="{{entity.title}}" ng-controller="NotificationsEntityCtrl" class="view-bg">

	<ion-nav-buttons side="left">
        <a class="button button-clear icon ion-arrow-left-b" href="#/tab/notifications"></a>
    </ion-nav-buttons>
    
	<ion-content>
		<!-- kind of mish-mashy... -->
		
		<div ng-switch="entity.type">
			<div ng-switch-when="object">
				<div class="list card tabs-background-white " ng-include src="'templates/discover/entities/object.html'"></div>
			</div>
			<div ng-switch-when="activity">
				<activity-view class="activity-item list card"></activity-view>
			</div>
		</div>
		
		<!-- show comments here -->
		<ion-list>
			<div ng-repeat="comment in comments" class="list card">
				<owner-brief-view owner="{{comment.ownerObj}}" ts="{{comment.time_created}}"></owner-brief-view>
				<div class="item item-text-wrap">
					{{comment.description | linky}}
				</div>
			</div>	
		</ion-list>
		<div class="list card">
			<div class="item item-input-inset">
			 	<label class="item-input-wrapper" style="background:transparent">
					<textarea placeholder="Type your comment here..." ng-model="comment.body">
					</textarea>
				</label>
				<button class="button button-clear" ng-click="submit()">
					Comment
				</button>
			</div>
		</div>
		<ion-infinite-scroll on-infinite="getComments()" distance="1%" ng-if="hasMore"></ion-infinite-scroll>

	</ion-content>
</ion-view>