<ion-view title="{{entity.title}}" ng-controller="NotificationsEntityCtrl" class="view-bg">

	<ion-nav-buttons side="left">
        <a class="button button-clear icon ion-arrow-left-b" href="#/tab/notifications"></a>
    </ion-nav-buttons>
    
	<ion-content>
		<!-- kind of mish-mashy... -->

		<div ng-switch="entity.type">
			<div ng-switch-when="object">
				<div class="list card tabs-background-white " ng-include src="'templates/discover/entities/object.html'"></div>
			</div>
			<div ng-switch-when="activity" ng-controller="NewsfeedCtrl">
				<activity-view class="activity-item list card"></activity-view>
			</div>
		</div>
		
		<!-- show comments here -->
		<ion-list>
			<div class="loading">
				<i class="icon ion-loading-d" ng-if="comments.length == 0 && inprogress"></i>
			</div>
			<div ng-repeat="comment in comments" class="comment-item" ng-class-future="$even ? 'even' : 'odd'">
				
				<a href="#/tab/newsfeed/channel/{{comment.ownerObj.guid}}">
					<img ng-src="{{$root.node_url}}icon/{{comment.ownerObj.guid}}/small"/>
				</a>
				
				<div class="content item-text-wrap" ng-bind-html="comment.description | linky" ng-click="removeComment(comment.guid)">
				</div>
			</div>	
		</ion-list>
		<div class="list card" style="clear:both; margin-top:15px;">
			<div class="item item-input-inset">
			 	<label class="item-input-wrapper" style="background:transparent">
					<textarea placeholder="Type your comment here..." ng-model="comment.body">
					</textarea>
				</label>
				<button class="button button-clear" ng-click="submit()">
					Comment
				</button>
			</div>
		</div>
		<ion-infinite-scroll on-infinite="getComments()" distance="1%" ng-if="hasMore"></ion-infinite-scroll>

	</ion-content>
</ion-view>