<ion-view title="" ng-controller="NotificationsEntityCtrl" class="view-bg">

	<ion-nav-buttons side="left">
        <a class="button button-clear icon ion-arrow-left-b" href="#/tab/notifications"></a>
    </ion-nav-buttons>
    
	<ion-content>
		<!-- kind of mish-mashy... -->
		
		<div class="loading" ng-if="!entity" style="margin:50px;">
            <ion-spinner></ion-spinner>
        </div>

		<div ng-switch="entity.type" style="margin-bottom:-42px">
			<div ng-switch-when="object" ng-controller="DiscoverCtrl">
				<div class="list card tabs-background-white {{entity.subtype}}" ng-include src="'templates/discover/entities/object.html'"></div>
			</div>
			<div ng-switch-when="activity" ng-controller="NewsfeedCtrl">
				<activity-view class="activity-item list card"></activity-view>
			</div>
		</div>
		
		<!-- show comments here -->
		<ion-list>
			<div class="loading">
				<ion-spinner ng-if="comments.length == 0 && inprogress"></ion-spinner> 
			</div>
			<div ng-repeat="comment in comments" class="comment-item" ng-class-future="$even ? 'even' : 'odd'">
				
				<a href="#/tab/newsfeed/channel/{{comment.ownerObj.guid}}">
					<img ng-src="{{$root.node_url}}icon/{{comment.ownerObj.guid}}/small"/>
				</a>
				
				<div class="content item-text-wrap" ng-bind-html="comment.description | linky" ng-click="removeComment(comment)">
				</div>
			</div>
		</ion-list>
		<div class="list card" style="clear:both;">
			<div class="item item-input-inset">

			 	<label class="item-input-wrapper" style="background:transparent">
					<textarea placeholder="Type your comment here..." ng-model="comment.body" style="position: relative!important; left: 0; top: 0;">
					</textarea>
				</label>
				<button class="button button-clear" ng-click="submit()">
					Comment
				</button>
			</div>
		</div>
		<ion-infinite-scroll on-infinite="getComments()" distance="10%" ng-if="hasMore"></ion-infinite-scroll>

	</ion-content>
</ion-view>