<StackLayout
  minHeight="300"
  horizontalAlignment="center"
  verticalAlignment="center"
  *ngIf="inProgress && !notifications.length"
  >
  <ActivityIndicator busy="true" style="color: #888"></ActivityIndicator>
</StackLayout>

<PullToRefresh #puller (refresh)="refresh(puller)">
  <ListView [items]="notifications" (loadMoreItems)="loadMore()">
    <template let-item="item" let-i="index" let-odd="odd" let-even="even">
      <StackLayout [class.odd]="odd" [class.even]="even">
        <notification-card [entity]="item"></notification-card>
      </StackLayout>
    </template>
  </ListView>
</PullToRefresh>
