<ion-header>
  <m-header></m-header>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="m-ionic-messenger--search">
    <ion-icon name="md-search"></ion-icon>
    <input type="text" placeholder="Search..." #q (keyup)="search(q.value)"/>
  </div>


  <ion-list style="padding-top:56px;">

    <div *ngFor="let convo of conversations; let i = index">
      <div class="m-ionic-messenger--conversation" (press)="openOptions(i, $event)">
        <div class="m-ionic-avatar"
          [navPush]="components.channel"
          [navParams]="{ guid: convo.participants[0].guid }">
          <img [src]="minds.cdn_url + 'icon/' +  convo.participants[0].guid + '/medium'" class="mdl-shadow--2dp" imgFade />
        </div>
        <div class="m-ionic-body"
          [navPush]="components.view"
          [navParams]="{ conversation: convo }">
          <h3>
            {{convo.username}}
          </h3>
        </div>
        <div class="m-ionic-messenger--conversation-icons">
          <!--TODO: unread conversation-->
          <ion-icon name="md-notifications" class="m-ionic-messenger--conversation-icons-unread"
            *ngIf="convo.unread">
          </ion-icon>

          <!--TODO: online conversation-->
          <ion-icon name="md-radio-button-on" class="m-ionic-messenger--conversation-icons-online"
            *ngIf="convo.online">
          </ion-icon>
        </div>
      </div>

    </div>

	</ion-list>


  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
