.m-ionic-messenger--conversation{
  display:flex;
  align-items: center;
  padding:8px 16px;


  .m-ionic-body{
    padding-left:16px;
    flex: 1;

    h3{
      margin:0;
      padding:0;
      font-size:13px;
      text-transform:uppercase;
    }
  }

}

.m-ionic-messenger--search{
  display: flex;
  align-items: center;
  position: fixed;
  background: #FFF;
  width: 100%;
  z-index:1;

  ion-icon{
    padding-left: 16px;
    vertical-align: middle;
  }

  input{
    border: 0;
    -webkit-appearance: none;
    padding: 16px;
    width: 100%;
  }
}
