<ion-header>
  <m-header></m-header>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <div *ngFor="let convo of conversations">
      <div class="m-ionic-messenger--conversation"
        [navPush]="components.view"
        [navParams]="{ conversation: convo }">
        <div class="m-ionic-avatar">
          <img [src]="'https://www.minds.com/icon/' +  convo.participants[0].guid+ '/medium'" class="mdl-shadow--2dp" imgFade />
        </div>
        <div class="m-ionic-body">
          <h3>{{convo.username}}</h3>
        </div>
      </div>

    </div>

	</ion-list>


  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
