<ion-header>
  <m-header></m-header>
</ion-header>

<ion-content>

  <div class="m-ionic-messenger--setup-fields" *ngIf="this.configured">
    <div class="m-ionic-messenger--setup-field">
      <input type="password" placeholder="Password" #password />
    </div>

    <div class="m-ionic-messenger--setup-field">
      <button ion-button (click)="unlock(password)">Unlock</button>
    </div>

  </div>

  <div class="m-ionic-messenger--setup-fields" *ngIf="!this.configured">
    <div class="m-ionic-messenger--setup-field">
      <input type="password" placeholder="Password" #password />
    </div>

    <div class="m-ionic-messenger--setup-field">
      <input type="password" placeholder="Confirm password" #password2 />
    </div>

    <div class="m-ionic-messenger--setup-field">
      <button ion-button (click)="setup(password, password2)">Setup</button>
    </div>

  </div>

  <div class="m-ionic-messenger--setup-info">
    <p>You only need to enter this encryption password once as long as you stay signed in.</p>
    <p>It is important so that no one other than you and the people you are communicating with can access the content of your messages.</p>
    <p>By default the content of your messages is fully encrypted. For heightened security you may wish to go to your app settings and turn off push notifications in order to disallow metadata from being tracked.</p>
  </div>

</ion-content>
