.m-ionic-messenger--setup-fields{
  padding:16px;
  text-align: right;

  input{
    color: #333;
    background: rgba(0,0,0, 0.055);
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    margin: 8px 0;
    padding: 16px;
    width: 100%;
    letter-spacing: 2px;

    &::placeholder{
      color:#333;
    }
  }
  button{
    background: rgba(0,0,0, 0.3);
    box-shadow: none;
  }
}

.m-ionic-messenger--setup-info {
  padding: 16px;

  p {
    font-size: 12px;
    color: #666;

    &:before {
      content: '\2022\00a0';
    }
  }
}
