.m-ionic-messenger--list{
  margin-bottom:100px;
}


.m-ionic-messenger--message{
  position: relative;
  text-align: right;
  display: block;
  width: 100%;
  padding:16px;

  &.odd{
    text-align:left;
  }

  .m-ionic-messenger--message-bubble{
    padding: 8px 16px;
    margin: 0 12px;
    font-size:18px;
    background: #EEE;
    border-radius: 3px;
    max-width:65%;
    display: inline-block;
    vertical-align: middle;
  }

  img{
    vertical-align: middle;
    border-radius: 50%;
  }
}

.m-ionic-messenger--message-ts{
  padding: 8px 56px 0;
  font-size: 10px;
}

.m-ionic-messenger--composer{
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: column;
  padding: 8px;
  width: 100%;
  border-top: 1px solid #EEE;
  background:#FFF;
  z-index:9999;

  .m-ionic-body{
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: row;
  }

  textarea{
    width: 100%;
    border: 0;
    min-height: 0;
    height: auto;
    padding: 8px;
    resize: none;
  }

  .m-ionic-messenger--actions{
    display: flex;
    align-items: center;
    ion-icon{
      font-size:24px;
    }
  }
}
