<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>

    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content #scrollArea>

  <ion-refresher (ionRefresh)="loadEarlier($event)">
    <ion-refresher-content *ngIf="inProgress"></ion-refresher-content>
  </ion-refresher>

  <ion-spinner *ngIf="inProgress"></ion-spinner>

  <ion-list class="m-ionic-messenger--list">
    <div class="m-ionic-messenger--message"
      *ngFor="let message of messages"
      [class.odd]="message.owner.guid == storage.get('user_guid')"
      >
      <img [src]="minds.cdn_url + 'icon/' + message.owner.guid + '/small'"
        *ngIf="message.owner.guid == storage.get('user_guid')">

      <div class="m-ionic-messenger--message-bubble">
        <m-decrypt [message]="message.message" allow-text-select *ngIf="!message.decrypted"></m-decrypt>
        <div allow-text-select *ngIf="message.decrypted">
          {{message.message}}
        </div>
      </div>


      <img [src]="minds.cdn_url + 'icon/' + message.owner.guid + '/small'"
        *ngIf="message.owner.guid != storage.get('user_guid')">

      <div class="m-ionic-messenger--message-ts">
        {{ message.time_created * 1000 | date: 'medium' }}
      </div>
    </div>
	</ion-list>

</ion-content>

<div class="m-ionic-messenger--composer">
  <div class="m-ionic-avatar">
    <img [src]="minds.cdn_url + 'icon/' +  storage.get('user_guid') + '/medium'" class="mdl-shadow--2dp"/>
  </div>
  <div class="m-ionic-body">
    <m-textarea placeholder="Type your message..." [(mModel)]="message" [disableBlur]="true"></m-textarea>
  </div>
  <div class="m-ionic-messenger--actions" *ngIf="message">
    <ion-icon name="md-send" (mousedown)="send($event)"></ion-icon>
  </div>
</div>
