m-mature {

  .m-ionic-mature--blur {
    filter: blur(4px);

    img{
        opacity: 0;
    }
  }

  .m-ionic-discovery--tile{
    .m-ionic-mature--blur {
      filter: none;

      &::before{
        width: 100%;
        height: 100%;
        background: #333;
        opacity: 0.99;
        display: block;
        position: absolute;
        color: #FFF;
        content: '';
      }

      img{
        filter: none;
      }
    }

  }
}