<ion-header>
  <ion-navbar> </ion-navbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="type">
    <ion-segment-button value="exclusive" (click)="load(true)">
      Exclusive Content
    </ion-segment-button>
  </ion-segment>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <div *ngFor="let subscription of subscriptions; let i = index"
      class="m-ionic-discovery--card"
    >
      <div class="m-ionic-discovery--card-avatar">
        <img [src]="minds.cdn_url + 'icon/' + subscription.guid + '/medium/' + subscription.icontime" />
      </div>

      <div class="m-ionic-discovery--card-body">
        <h3>{{ subscription.name }}</h3>
      </div>

      <ion-icon name="more"
        class="m-ionic-discovery--card-icon"
        (click)="actions(subscription, i)"></ion-icon>
    </div>

    <div *ngIf="subscriptions.length < 1"
      class="m-payments-plan-console--empty"
    >
      No active subscriptions.
    </div>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
