<!-- Select categories -->
<div class="m-category-selector" *ngIf="!inProgress">
  <div class="m-category-selector-header">
    <h3>What are you interested in?</h3>
    <span>Select from the categories below to see great content</span>
  </div>
  <div class="m-category-selector-categories">
    <div class="m-category-selector-category mdl-color-text--grey-600"
      *ngFor="let category of categories"
      (click)="category.selected = !category.selected"
      [ngClass]="{'selected': category.selected}"
      >
      {{category.label}}
    </div>
  </div>
  <button ion-button color="#4690D6" clear (click)="saveCategories()">Continue</button>
</div>