.m-ionic-channel--header{

  text-align:center;

  .m-ionic-channel--avatar{
    border-radius: 50%;
    margin-top: -75px;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .m-ionic-channel--name{
    margin-top: 80px;
    padding: 8px 0;

    h1{
      width: auto;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      padding: 4px 16px;
    }

    &.editing h1{
      border: 1px solid #EEE;
    }

    ion-icon{
      vertical-align: middle;
      color: #888;

      &.editing{
        color: #4690D6;
      }
    }

  }

  .m-ionic-channel--bio{
    text-align: center;
    padding: 8px;
    margin: 8px;
    letter-spacing: 0.3px;
    line-height: 19px;
    white-space: pre-line;

    &.editing{
      border:1px solid #EEE;
    }
  }

  .m-ionic-channel--bio-icon{
    float: right;
    margin: -32px 16px;
    color: #888;

    &.editing{
      color: #4690D6;
    }
  }

  .m-ionic-channel--stats {
    display:flex;
    color:#777;

    > * {
      flex: 1;
      text-align: center;
      padding: 8px;

      label{
        display:block;
        font-weight:600;
        width:100%;
        padding: 8px 0;
        letter-spacing: 1px;
      }
    }
  }

}

.m-ionic-channel--actions-button{
  position: absolute;
  top: 0;
  right: 0;
  color: #FFF;
  padding: 16px;
  font-size: 26px;
  text-shadow: 0 0 3px #000;
  z-index: 1;
}
