

<ion-content scroll="false" #scrollArea>

  <ion-icon name="md-arrow-round-back" class="m-ionic-back-button" navPop></ion-icon>

  <ion-icon name="md-arrow-dropdown" class="m-ionic-channel--actions-button" (click)="openActions()"></ion-icon>

  <div class="m-ionic-channel--header" *ngIf="channel">

    <minds-banner (fileToUpload)="setUploadFile($event)" *ngIf="channel" [editing]="editing.banner" [entity]="channel" #bannerComponent>
      <!-- accept-changes-icon -->
      <ion-icon *ngIf="!editing.banner"
        class="icon icon-ios ion-ios-create m-ionic-banner--edit-button"
        (click)="editing.banner=true; cd.markForCheck(); cd.detectChanges();">
      </ion-icon>
      <!-- edit-changes-icon -->
      <ion-icon *ngIf="editing.banner"
        class="icon icon-ios ion-ios-checkmark-circle m-ionic-banner--edit-button"
        (click)="showWarningReplaceBannerImage(); editing.banner=false; cd.markForCheck(); cd.detectChanges();">
      </ion-icon>
      <!-- cancel-changes-icon -->
      <ion-icon *ngIf="editing.banner"
        class="icon icon-ios ion-ios-close-circle m-ionic-banner--cancel-button"
        (click)="cancelUpload(); editing.banner=false; cd.markForCheck(); cd.detectChanges();">
      </ion-icon>
    </minds-banner>

    <!-- <div class="m-ionic-channel--header-banner" [style.background-image]="'url(' + minds.cdn_url + 'fs/v1/banners/' + channel.guid + '/fat/' + channel.icontime + ')'">

     </div> -->

     <div class="m-ionic-channel--avatar"
      [style.background-image]="'url(' + minds.cdn_url + 'icon/' + channel.guid + '/large/' + channel.icontime + ')'"
      (click)="changeAvatar()"
      >
     </div>

    <div class="m-ionic-channel--name" [class.editing]="editing.name">
      <h1 [attr.contentEditable]="editing.name" [(contenteditableModel)]="channel.name">  {{channel.name}} </h1>
      <ion-icon name="create" *ngIf="!editing.name && channel.guid == this.storage.get('user_guid')" (click)="editing.name = true; cd.markForCheck(); cd.detectChanges();"></ion-icon>
      <ion-icon name="checkmark-circle" *ngIf="editing.name" (click)="editing.name = false; save({name: channel.name})"></ion-icon>

      <ion-icon name="person-add"
        *ngIf="channel.guid != this.storage.get('user_guid')"
        [class.selected]="channel.subscribed"
        (click)="subscribe()"
        ></ion-icon>
    </div>

    <div class="m-ionic-channel--bio"
      [innerHtml]="channel.briefdescription | tags"
      [class.editing]="editing.bio"
      [attr.contentEditable]="editing.bio"
      [(contenteditableModel)]="channel.briefdescription"
      >
    </div>
    <ion-icon name="create" class="m-ionic-channel--bio-icon" *ngIf="!editing.bio && channel.guid == this.storage.get('user_guid')" (click)="editing.bio = true; cd.markForCheck(); cd.detectChanges();"></ion-icon>
    <ion-icon name="checkmark-circle" class="m-ionic-channel--bio-icon" *ngIf="editing.bio" (click)="editing.bio = false; save({briefdescription: channel.briefdescription})"></ion-icon>

    <div class="m-ionic-channel--stats">
      <div class="m-ionic-channel--stats-stat" *ngIf="!channel.supporters_count && (channel.activity_count || channel.activity_count === 0)">
        <label>Feed</label>
        <span>{{channel.activity_count}}</span>
      </div>
      <div class="m-ionic-channel--stats-stat" *ngIf="channel.supporters_count">
        <label>Supporters</label>
        <span>{{channel.supporters_count}}</span>
      </div>
      <div class="m-ionic-channel--stats-stat" [navPush]="components.subscribers" [navParams]="{guid: channel.guid, filter: 'subscribers'}">
        <label>Subscribers</label>
        <span>{{channel.subscribers_count}}</span>
      </div>
      <div class="m-ionic-channel--stats-stat">
        <label>Views</label>
        <span>{{channel.impressions}}</span>
      </div>
    </div>

  </div>

  <ion-list>
    <channel-feed [channel]="channel" [type]="feedType" #feed [loadMore]="feed.scrollEvnt" (done)="feed.scrollEvnt = null; cd.markForCheck(); cd.detectChanges()" [visibilityService]="onScreen"></channel-feed>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="feed.scrollEvnt = $event">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
