

<ion-content>



  <div class="m-ionic-channel--header" *ngIf="channel">

    <div class="m-ionic-channel--header-banner">
      <img
          #banner
         [src]="'https://www.minds.com/fs/v1/banners/' + channel.guid + '/fat/' + channel.icontime"
         (error)="banner.hide = true"
         width="100%"
         [hidden]="banner.hide"
         height="225px"

         >
     </div>

    <img
      class="m-ionic-channel--avatar"
      [src]="'https://www.minds.com/icon/' + channel.guid + '/large'"
      width="150px"
      height="150px"
      >

    <h1>  {{channel.name}} </h1>

  </div>

  <channel-feed [channel]="channel" #feed [loadMore]="feed.scroller"></channel-feed>

  <ion-infinite-scroll (ionInfinite)="feed.scroller = $event">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
