.m-ionic-channel--header-banner{
  background:#333;
  top:0;
  left:0;
  width:100%;
  height:175px;
  overflow:hidden;
}

.m-ionic-channel--header{

  text-align:center;

  .m-ionic-channel--avatar{
    border-radius:50%;
    margin-top:-75px;
  }

  h1{

  }

  .m-ionic-channel--stats {
    display:flex;
    color:#777;

    > * {
      flex: 1;
      text-align: center;
      padding: 8px;

      label{
        display:block;
        font-weight:600;
        width:100%;
        padding: 8px 0;
        letter-spacing: 1px;
      }
    }
  }

}
