

<ion-content>



  <div class="m-ionic-channel--header" *ngIf="channel">

    <img
       class="m-ionic-channel--header-banner"
       [src]="'https://www.minds.com/fs/v1/banners/' + channel.guid + '/fat/' + channel.icontime"
       width="100%"
       height="225px">

    <img
      [src]="'https://www.minds.com/icon/' + channel.guid + '/large'"
      width="150px"
      height="150px">

    <h1>  {{channel.name}} </h1>

  </div>

  <channel-feed [channel]="channel"></channel-feed>

</ion-content>
