<owner-brief-view owner="{{activity.ownerObj}}" ts="{{activity.time_created}}"></owner-brief-view>


<p ng-bind-html="activity.message"></p>


<div class="item positive" style="padding:0;background-color:#F7F7F7">
    <div class="button-bar bar-positive positive">
        <button class="button button-light button-clear small-font">
            <i class="icon ion-thumbsup"></i>
            Like
        </button>
        <button class="button button-light button-clear small-font">
            <i class="icon ion-chatbox"></i>
            Comment
        </button>
        <button class="button button-light button-clear small-font">
            <i class="icon ion-share"></i>
            Share
        </button>
    </div>
</div>