.m-ionic-groups--card{
  padding: 8px;

  strong {
    display: block;
    letter-spacing: 1px;
    padding: 0px 0;
    font-size: 15px;
  }
  span {
    letter-spacing: 1px;
    color: #888;
  }
}

.m-ionic-group--categories{
  overflow: scroll;

  ion-segment{
    min-width: 200%;
  }
}

.m-ionic-group--empty-list {
  padding: 12px 0;
  text-align: center;
  font-weight: 300;
  color: #666;
}
