<ion-header>
  <ion-navbar></ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <div class="m-ionic-group--categories" *ngIf="filter == 'featured'">
      <ion-segment [(ngModel)]="category" color="primary">
        <ion-segment-button value="all" (ionSelect)="setCategory('all')">
          All
        </ion-segment-button>
        <ion-segment-button *ngFor="let category of categories" [value]="category.id" (ionSelect)="setCategory(category.id)">
          {{category.label}}
        </ion-segment-button>
      </ion-segment>
    </div>

    <div class="m-ionic-group--empty-list" *ngIf="!inProgress && !groups.length">
      No groups.
    </div>

    <div *ngFor="let group of groups">
      <div class="m-ionic-groups--card m-ionic-owner-block"
        [navPush]="components.profile"
        [navParams]="{ guid: group.guid }">
          <div class="m-ionic-avatar">
            <img [src]="minds.cdn_url + 'fs/v1/avatars/' + group.guid +'/small'" imgFade />
          </div>
          <div class="m-ionic-body">
            <strong>{{group.name}}</strong>
            <span><b>Members</b> {{group['members:count']}}</span>
          </div>
      </div>
    </div>

	</ion-list>


  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
