<ion-modal-view ng-controller="CallCtrl" class="view-bg">
	
	<ion-pane>
	
	   <div class="video-wrappers" ng-if="videoCall && (callConfig.initiator == true || status == 'answered' || status == 'answering')">
	       <video class="remote" id="remote" autoplay ng-show="status == 'answered'"></video>
	       <video class="preview" id="preview" autoplay ng-show="status == 'answered'"></video>
	    </div>
	    
	    <div class="video-wrappers" ng-if="!videoCall && (callConfig.initiator == true || status == 'answered' || status == 'answering')">
            <audio ng-if="!videoCall" id="remote" autoplay></audio>
        </div>
	    
	    <div class="call-actions" ng-if="status == 'answered' || status == 'answering'">
            <button class="video icon ion-ios-videocam" ng-if="camera" ng-click="toggleVideo()"></button>
	        <button class="video icon ion-ios-videocam-outline" ng-if="!camera" ng-click="toggleVideo()"></button>
	       
	       <button class="microphone icon ion-android-microphone-off" ng-if="muted" ng-click="toggleAudio()"></button>
	       <button class="microphone icon ion-android-microphone" ng-if="!muted" ng-click="toggleAudio()"></button>
	       
	       <button class="hangup icon ion-ios-close" ng-click="end();"></button>
	    </div>
	    
        <div class="call-display-wrapper" ng-if="status != 'answered'">
 
    	   <div class="incoming" ng-if="callConfig.initiator == false && !status">
    	       <h1>Incoming Call</h1>
    	       <button class="answer" ng-click="answer()">Answer</button>
    	       <button class="reject" ng-click="reject()">Reject</button>
    	   </div>

            <div class="outgoing" ng-if="callConfig.initiator == true && !status">
               <h1>Calling</h1>
               <p>Trying to connect.</p>
               <button class="reject" ng-click="reject()">Cancel</button>
           </div>
           
            <div class="outgoing" ng-if="callConfig.initiator == true && status == 'failed_signal'">
               <h1>Failed</h1>
               <p>Signal failure.</p>
           </div>
           
            <div class="outgoing" ng-if="callConfig.initiator == true && status == 'pinging'">
               <h1>Calling</h1>
               <p>Waiting for availability..</p>
               <button class="reject" ng-click="reject()">Cancel</button>
           </div>

    	   <div class="outgoing" ng-if="callConfig.initiator == true && status == 'calling'">
               <h1>Calling</h1>
               <button class="reject" ng-click="reject()">Cancel</button>
           </div>

           <div class="outgoing" ng-if="status == 'answering'">
               <h1>Connecting</h1>
           </div>
           
           
           <div class="outgoing" ng-if="status == 'rejected'">
               <h1>Rejected</h1>
           </div>
           
           <div class="outgoing" ng-if="status == 'engaged'">
               <h1>Engaged</h1>
           </div>

           <!--<div class="outgoing" ng-if="status == 'answered'">
               <h1>{{counter.minutes}}:{{counter.seconds}}</h1>
               <button class="reject" ng-click="modal.remove()">Hangup</button>
            </div>-->
       </div>
	</ion-pane>
</ion-modal-view>