<ion-view title="Conversations" ng-controller="ChatCtrl" class="view-bg">

	<ion-nav-buttons side="right">
		<a class="button button-clear" ng-click="invite()">
			Invite
		</a>
	</ion-nav-buttons>
		
	<div class="chat-search-bar tabs-top">
		<div class="tabs">
			<input placeholder="Search for users..." ng-model="search.query" ng-keyup="doSearch()"/>
		</div>
	</div>
		
    <ion-content style="padding-top:50px;">
	
        <ion-list>
        
            <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="refresh()">
            </ion-refresher>
            

            <ion-item ng-repeat="conversation in conversations" class="conversation" href="#/tab/gatherings/conversations/{{conversation.guid}}/{{conversation.name}}">
                <img image-cache ng-src="{{$root.node_url}}icon/{{conversation.guid}}/small" style="float:left;"/>
                <h2>{{conversation.name}}</h2>
                <p ng-show="conversation.last_msg">{{conversation.last_msg * 1000 | date:'shortTime'}} - {{conversation.last_msg * 1000 | date:'longDate'}}</p>
                <span ng-show="conversation.unread == 1" style="position:absolute; top:20px; right:12px; border-radius:100%; display:block; background:green; width:12px; height:12px"></span>
            </ion-item>
            
        </ion-list>
        
        <ion-infinite-scroll 
            on-infinite="loadMore()" 
            distance="1%" 
            ng-if="hasMoreData">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>