<ion-view title="Unlock Chat" >

    <ion-content ng-controller="ChatSetupCtrl" class="view-bg">

		<div ng-if="!configured">
			
			 <label class="item item-input">
	            <span class="input-label">Password</span>
	            <input type="password" ng-model="data.password">
	        </label>
	        <label class="item item-input">
	            <span class="input-label">Confirm Password</span>
	            <input type="password" ng-model="data.password2">
	        </label>
	        
	        <div class="padding">
	
	            <div>
	                <button class="button button-block button-positive" ng-click="setup(password)">
	                    Setup chat
	                </button>
	            </div>
	
	        </div>
		
		</div>
	
		<div ng-if="configured">
	         <label class="item item-input">
	            <span class="input-label">Password</span>
	            <input type="password" ng-model="password">
	        </label>
	        
	        <div class="padding">
	
	            <div>
	                <button class="button button-block button-positive" ng-click="unlock(password)">
	                    Unlock chat
	                </button>
	            </div>
	
	        </div>
        </div>
        
        <p style="padding:16px; color:#666;">
        	You only need to enter this encryption password once as long as you stay signed in. 
        	It is important so that no one other than you and the people you are communicating with can access the content of your messages.
        </p>

    </ion-content>
</ion-view>