<div
    #editor
    class="m-editor"
    [class.m-editor-disabled]="disabled "
    [attr.contenteditable]="!disabled ? 'true' : null"
    (keyup)="change($event); getSuggestionsList($event)"
    (blur)="change($event)"
    (paste)="paste($event); change()"></div>
<span
    *ngIf="placeholder && editor.innerText.length === 0"
    class="m-placeholder">{{ placeholder }}</span>
<suggestions-list [text]="model" (selected)="editorControl.nativeElement.innerText = $event; detectChanges(); change(false)" #suggestionsList></suggestions-list>