
m-textarea{
  position:relative;
  display: inline-block;
  width:100%;

  .m-placeholder {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    padding: inherit;
    width: 100%;

    font-size:14px !important;
    color: #999999;

    pointer-events: none;
  }

}
