
<TabView #element [selectedIndex]="selectedIndex" (selectedIndexChange)="changedIndex(element.selectedIndex)"
  tabsBackgroundColor="#37474f" selectedColor="#FFFFFF" style="background-color:white" iosIconRenderingMode="alwaysOriginal">
  <template tabItem iconSource="res://ic_home_white_24dp" [title]="android ? '' : 'Newsfeed'">
    <StackLayout>
       <newsfeed-list></newsfeed-list>
    </StackLayout>
  </template>
  <template tabItem iconSource="res://ic_search_white_24dp" [title]="android ? '' : 'Discovery'">
      <StackLayout>
        <Button text="Go to newsfeed tab" [nsRouterLink]="['/tab/newsfeed']"></Button>
         <Label text="discovery tab item"></Label>
      </StackLayout>
  </template>
  <template tabItem iconSource="res://ic_chat_bubble_white_24dp" [title]="android ? '' : 'Messenger'">
    <StackLayout>
       <Label text="Messenger tab item"></Label>
    </StackLayout>
  </template>
  <template tabItem iconSource="res://ic_notifications_white_24dp" [title]="android ? '' : 'Notifications'">
    <StackLayout>
       <notifications-list *ngIf="initializedRoutes['/tab/notifications']"></notifications-list>
    </StackLayout>
  </template>
  <template tabItem iconSource="res://ic_person_white_24dp" [title]="android ? '' : 'Channel'">
    <StackLayout>
       <channel username="me" *ngIf="initializedRoutes['/tab/channel']"></channel>
    </StackLayout>
  </template>
</TabView>
