<ActionBar android:style="background-color:#37474f">
  <GridLayout rows="auto" columns="auto, *"
    horizontalAlignment="left"
    >
    <Image src="https://www.minds.com/icon/me/small"
      width="32"
      height="32"
      stretce="aspectFill"
      stretch="aspectFill"
      style="border-radius:16"
      row="0"
      col="0"
      [nsRouterLink]="['/channel/me']"
      ></Image>
  </GridLayout>
</ActionBar>



<TabView #element [selectedIndex]="selectedIndex" (selectedIndexChange)="changedIndex(element.selectedIndex)"
  tabsBackgroundColor="#37474f" selectedColor="#FFFFFF" style="background-color:white" iosIconRenderingMode="alwaysOriginal">
  <template tabItem iconSource="res://ic_home_white_24dp" [title]="android ? '' : 'Newsfeed'">
    <StackLayout>
       <newsfeed-list></newsfeed-list>
    </StackLayout>
  </template>
  <template tabItem iconSource="res://ic_search_white_24dp" [title]="android ? '' : 'Discovery'">
      <StackLayout>
        <Button text="Go to newsfeed tab" [nsRouterLink]="['/tab/newsfeed']"></Button>
         <Label text="discovery tab item"></Label>
      </StackLayout>
  </template>
  <template tabItem iconSource="res://ic_chat_bubble_white_24dp" [title]="android ? '' : 'Messenger'">
    <StackLayout>
       <Label text="Messenger tab item"></Label>
    </StackLayout>
  </template>
  <template tabItem iconSource="res://ic_notifications_white_24dp" [title]="android ? '' : 'Notifications'">
    <StackLayout>
       <notifications-list *ngIf="initializedRoutes['/tab/notifications']"></notifications-list>
    </StackLayout>
  </template>
  <template tabItem iconSource="res://ic_menu_white_24dp" [title]="android ? '' : 'More'">
    <StackLayout>
      <ScrollView>
        <GridLayout rows="auto, *" columns="auto">
          <StackLayout row="0">
            <Label text="Hello"></Label>
          </StackLayout>
          <StackLayout row="1">
            <Label text="Logout"></Label>
          </StackLayout>
        </GridLayout>
      </ScrollView>
    </StackLayout>
  </template>
</TabView>
