<ion-header>
  <ion-navbar>
    <ion-buttons right>
      <button ion-button (click)="save()" style="color:#FFF" *ngIf="password || password2 || mailChanged || categoriesChanged">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header color="light">
      Password
    </ion-list-header>

    <ion-item>
      <ion-label stacked>Current Password</ion-label>
      <ion-input type="password" [(ngModel)]="currentPassword"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>New Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Confirm New Password</ion-label>
      <ion-input type="password" [(ngModel)]="password2"></ion-input>
    </ion-item>

	</ion-list>

  <ion-list>
    <ion-list-header color="light">
      Email
    </ion-list-header>

    <form [formGroup]="myForm">
      <ion-item>
        <ion-label stacked>Current Email</ion-label>
        <ion-input formControlName="email" type="email" (keypress)="mailChanged = true; detectChanges();" name="currentEmail" [(ngModel)]="currentEmail"></ion-input>
      </ion-item>
    </form>

	</ion-list>

  <m-settings--billing-saved-cards *ngIf="!platform.is('ios')"></m-settings--billing-saved-cards>

  <m-settings--billing-subscriptions></m-settings--billing-subscriptions>

  <ion-list>
    <ion-list-header color="light">
      Categories
    </ion-list-header>

      <ion-item *ngFor="let category of categories">
        <div class="ionic-settings--category"
             [class.selected]="category.selected"
             (click)="onCategoryClick(category)">
          {{ category.label }}
        </div>
      </ion-item>

  </ion-list>

  <m-settings--deactivate-channel></m-settings--deactivate-channel>

</ion-content>
