<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2014 PayPal. All rights reserved. -->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="card.io.cordova.mobilesdk"
    version="2.1.0">
    <name>CardIO</name>
    <description>This plugin allows to add to add CardIO to your application using CardIO Native library</description>
    <license>MIT License, see LICENSE.md for details</license>
    <engines>
            <engine name="cordova" version="&gt;=3.0.0" />
    </engines>


    <js-module src="www/cdv-plugin-card-io.js" name="CardIO">
        <clobbers target="CardIO" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CardIO">
                <param name="ios-package" value="CardIOCordovaPlugin" onload="false" />
            </feature>
        </config-file>

        <!-- Plugin implementation -->
        <header-file src="src/ios/CardIOCordovaPlugin.h" />
        <source-file src="src/ios/CardIOCordovaPlugin.m" />

        <!-- CardIO library -->
        <header-file src="src/ios/CardIO/CardIO.h" />
        <header-file src="src/ios/CardIO/CardIOCreditCardInfo.h" />
        <header-file src="src/ios/CardIO/CardIODetectionMode.h" />
        <header-file src="src/ios/CardIO/CardIOPaymentViewController.h" />
        <header-file src="src/ios/CardIO/CardIOPaymentViewControllerDelegate.h" />
        <header-file src="src/ios/CardIO/CardIOUtilities.h" />
        <header-file src="src/ios/CardIO/CardIOView.h" />
        <header-file src="src/ios/CardIO/CardIOViewDelegate.h" />
        <source-file src="src/ios/CardIO/libCardIO.a" framework="true" />
        <source-file src="src/ios/CardIO/libopencv_core.a" framework="true" />
        <source-file src="src/ios/CardIO/libopencv_imgproc.a" framework="true" />

        <!-- link libraries for CardIO -->
        <framework src="Accelerate.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="CoreVideo.framework" />
        <framework src="Foundation.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="OpenGLES.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="Security.framework" />
        <framework src="UIKit.framework" />
        <framework src="libc++.dylib" />

    </platform>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CardIO">
                <param name="android-package" value="io.card.cordova.sdk.CardIOCordovaPlugin" />
            </feature>
        </config-file>

        <source-file src="src/android/CardIOCordovaPlugin.java" target-dir="src/io/card/cordova/sdk" />
	      <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

    </platform>

</plugin>
