<ion-menu [content]="content" side="right">
  <ion-header>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list #dropdowns>

      <button ion-item (click)="dropdowns.blog = true">
        Blogs
      </button>
      <button ion-item class="m-ionic-nav--subitem" (click)="openBlogs('featured'); dropdowns.blog = false;" *ngIf="dropdowns.blog">
        Featured
      </button>
      <button ion-item class="m-ionic-nav--subitem" (click)="openBlogs('trending'); dropdowns.blog = false;" *ngIf="dropdowns.blog">
        Trending
      </button>
      <button ion-item class="m-ionic-nav--subitem" (click)="openBlogs('owner'); dropdowns.blog = false;" *ngIf="dropdowns.blog">
        Mine
      </button>

      <button ion-item (click)="dropdowns.group = true">
        Groups
      </button>
      <button ion-item class="m-ionic-nav--subitem" (click)="openGroups('featured'); dropdowns.group = false;" *ngIf="dropdowns.group">
        Featured
      </button>
      <button ion-item class="m-ionic-nav--subitem" (click)="openGroups('member'); dropdowns.group = false;" *ngIf="dropdowns.group">
        Member
      </button>

      <button ion-item (click)="openBugGroup()">
        Support & Bugs Groups
      </button>

      <ion-item>
        <ion-label>Autoplay videos</ion-label>
        <ion-toggle [checked]="storage.get('autoplay')" (ionChange)="storage.set('autoplay', $event.checked)"></ion-toggle>
      </ion-item>

      <button ion-item (click)="invite()">
        Invite
      </button>

      <button ion-item (click)="logout()">
        Logout
      </button>
    </ion-list>

    <div class="m-ionic-menu--footer">
      <div class="m-ionic-menu--version">
        v{{versionNumber}} ({{versionCode}})
      </div>
      <a href="https://www.minds.com/p/faq">FAQ</a>
      <a href="https://www.minds.com/p/code">Code</a>
      <a href="https://www.minds.com/p/terms">Terms</a>
      <a href="https://www.minds.com/p/privacy">Privacy</a>
    </div>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>
