$tabbar-md-background: #37474f;

ion-navbar.toolbar.toolbar-ios.statusbar-padding{
  min-height: 64px;
  padding-top: 24px;
}

img{

}

*[allow-text-select]{
  user-select: text;
}

.m-ionic-owner-block{
  display:flex;
  align-items: center;

}

a{
  text-decoration: none;
}


.m-ionic-avatar{

  img{

    min-width:50px;
    min-height:50px;
    max-width:50px;
    max-height:50px;
    border-radius:50%;
  }
}


.m-ionic-body{
  padding-left:12px;
  a{ display:block }
}

.m-ionic-menu--footer {
  bottom: 0;
  position: absolute;
  padding: 16px;
  text-align: center;

  a {
    text-decoration: none;
    letter-spacing: 1px;
    padding-right: 24px;
    color: #888;
  }

  img{
    width: 140px;
    margin: 12px;
  }
  .m-ionic-menu--version{
    text-decoration: none;
    letter-spacing: 1px;
    padding: 0 24px 12px 12px;
    font-weight: bold;
    color: #888;
    box-sizing: border-box;
  }
}

.m-ionic-nav--subitem {
  padding-left: 40px;
}

.m-ionic-back-button {
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: 99999; */
  color: #FFF;
  padding: 16px;
  font-size: 26px;
}
.platform-ios .m-ionic-back-button {
  top: 16px;
}

.ion-page{
  background:#FFF;
}

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}
