$tabbar-md-background: #37474f;

ion-navbar.toolbar.toolbar-ios.statusbar-padding{
  min-height: 64px;
  padding-top: 24px;
}

img{

}

*[allow-text-select]{
  user-select: text;
}

.m-ionic-owner-block{
  display:flex;
  align-items: center;

}

a{
  text-decoration: none;
}


.m-ionic-avatar{

  img{

    min-width:50px;
    min-height:50px;
    max-width:50px;
    max-height:50px;
    border-radius:50%;
  }
}


.m-ionic-body{
  padding-left:12px;
  a{ display:block }
}

.m-ionic-menu--footer {
  bottom: 0;
  position: absolute;
  padding: 16px;
  a {
    text-decoration: none;
    letter-spacing: 1px;
    padding-right: 24px;
    color: #888;
  }
}
