<ion-menu [content]="content" side="right">
  <ion-header>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <button ion-item (click)="openBlogs()">
        Blogs
      </button>

      <button ion-item (click)="openGroups()">
        Groups
      </button>

      <button ion-item (click)="openBugGroup()">
        Support & Bugs Groups
      </button>


      <ion-item>
        <ion-label>Turn off video autoplay</ion-label>
        <ion-toggle [checked]="storage.get('disable-autoplay')" (ionChange)="storage.set('disable-autoplay', $event.checked)"></ion-toggle>
      </ion-item>

      <button ion-item (click)="logout()">
        Logout
      </button>
    </ion-list>

    <div class="m-ionic-menu--footer">
      <a href="https://www.minds.com/p/faq">FAQ</a>
      <a href="https://www.minds.com/p/code">Code</a>
      <a href="https://www.minds.com/p/terms">Terms</a>
      <a href="https://www.minds.com/p/privacy">Privacy</a>
    </div>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>
