m-wire-channel {
  display: block;
  margin-bottom: 16px;
  text-align: left;
}

.m-wire-channel--content {
  background: #FFF;
  color: #666;
  padding: 16px;
}

.m-wire-channel--description {
  font-size: 14px;
  letter-spacing: 0.5px;
  margin: 0 0 2em;
}

.m-wire-channel--call-to-action {
  margin-top: 16px;
  text-align: center;

  > button {
    text-align: left;
    background: #4caf50;
    color: #ffffff;
    padding: 4px 8px;
    height: auto;

    > button-inner {
      align-items: center;
      justify-content: flex-start;
    }
  }

  .m-wire-channel--cta-icon {
    font-size: 64px;
    margin-right: 0.35em;
    flex-grow: 0;
  }

  .m-wire-channel--cta-text {
    font-size: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    flex-grow: 1;

    > span {
      display: block;
    }
  }

  .m-wire-channel--cta-legend {
    text-transform: initial;
    font-size: 11px;
    letter-spacing: 0.5px;
    margin-top: 4px;
    white-space: initial;
  }
}
