<div *ngIf="shouldShow()"
  class="m-wire-channel--content"
>
  <p *ngIf="!editing && rewards.description"
    class="m-wire-channel--description"
    [innerText]="rewards.description"
  ></p>

  <m-wire-slider
    *ngIf="rewards && rewards.rewards && rewards.rewards.merged"
    [(rewards)]="rewards.rewards.merged"
    [editing]="editing"
  ></m-wire-slider>
</div>

<div class="m-wire-channel--call-to-action"
  *ngIf="!isOwner()"
>
  <button ion-button
    (click)="sendWire()"
  >
    <ion-icon class="m-wire-channel--cta-icon" name="ios-flash"></ion-icon>
    <span class="m-wire-channel--cta-text">
      <span>Wire me</span>
      <span class="m-wire-channel--cta-legend" *ngIf="userSums?.money || userSums?.points">
        <ng-container *ngIf="userSums.money">{{ userSums.money | currency:'USD':true:'1.0-0' }}</ng-container>
        <ng-container *ngIf="userSums.money && userSums.points">and</ng-container>
        <ng-container *ngIf="userSums.points">{{ userSums.points | number }} points</ng-container>
        in the last 30 days
      </span>
    </span>
  </button>
</div>
