
<AbsoluteLayout style="padding:8" [nsRouterLink]="['/channel/:id', { id: entity.ownerObj.guid }]" *ngIf="!entity.isRemind">
  <Image
    [src]="'https://www.minds.com/icon/' + entity.ownerObj.guid + '/medium'"
    width="50"
    height="50"
    stretce="aspectFill"
    style="border-radius:25;"
  ></Image>
  <StackLayout orientation="vertical" left="60">
    <Label [text]="entity.ownerObj.name" style="font-weight:bold"></Label>
    <!--<Label [text]='"@" + entity.ownerObj.username +""' style="font-size:11"></Label>-->
    <Label [text]="entity.time_created * 1000 | date :'medium'" style="font-size:11; color: #888"></Label>
  </StackLayout>

</AbsoluteLayout>

<StackLayout orientation="vertical" style="padding-bottom:8">

  <Label text="rich" style="font-weight:bold"></Label>

  <TextView [text]="entity.title || entity.message"
    *ngIf="entity.title || entity.message"
    editable="false"
    class="m-native--activity--message"
    ></TextView>

  <!-- Rich content -->
  <StackLayout class="m-native--activity--rich-embed">
    <GridLayout rows="auto" columns="*" class="m-rich-embed">
      <android>
        <FrescoDrawee
          [imageUri]="entity.thumbnail_src"
          actualImageScaleType="focusCrop"
          verticalAlignment="top"
          showProgressBar="false"
          progressBarColor="#AB5400"
          width="100%"
          aspectRatio="1.3"
        ></FrescoDrawee>
      </android>
      <ios>
        <Image *ngIf="entity.thumbnail_src"
          [src]="entity.thumbnail_src"
          stretch="aspectFill"
          width="100%"
          height="200"
        ></Image>
      </ios>
    </GridLayout>
    <StackLayout class="m-native--activity--rich-embed--meta">
      <Label [text]="entity.title" style="font-weight:bold"></Label>
      <TextView [text]="entity.description"
        editable="false"
        *ngIf="entity.description"
        ></TextView>
      <Label [text]="entity.perma_url" style="font-size:11; color: #888"></Label>
    </StackLayout>
  </StackLayout>

  <FlexboxLayout flexDirection="row" *ngIf="!entity.remind_object" style="padding:8; text-align:center; color:#888">
    <StackLayout flexGrow="1">
      <minds-button-thumbs-up [entity]="entity" ></minds-button-thumbs-up>
    </StackLayout>
    <StackLayout flexGrow="1">
      <minds-button-thumbs-down [entity]="entity" ></minds-button-thumbs-down>
    </StackLayout>
    <StackLayout flexGrow="1">
      <minds-button-comment [entity]="entity" ></minds-button-comment>
    </StackLayout>
    <StackLayout flexGrow="1">
      <minds-button-remind [entity]="entity" ></minds-button-remind>
    </StackLayout>
  </FlexboxLayout>

</StackLayout>
