.selected{
  color: #4690D6;
}

.m-ionic-icon{
  font-size:20px;
  vertical-align:middle;
}

.m-ionic-icon--counter{
  font-size: 10px;
  line-height: 1;
  margin-left: 4px;
  vertical-align: middle;
}


minds-button-comment{
  span{
    margin-top: 4px;
    margin-left: 8px;
    font-weight: 600;
    position: absolute;
  }
}
