.selected{
  color: #4690D6 !important;
}

.m-animate-button{
  animation-name: buttonAnimation;
  animation-duration: 0.5s;
  /* display: none; */
  animation-iteration-count: 2;
}

@keyframes buttonAnimation {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }

  60% {
    opacity: 1;
    transform: scale(1.4, 1.4);
  }
}

.m-ionic-icon{
  font-size:22px;
  vertical-align:middle;
}

.m-ionic-icon--counter{
  font-size: 12px;
  line-height: 1;
  margin-left: 4px;
  vertical-align: middle;
}

.m-ionic-icon--counter-hide{
  display:none;
}

minds-button-comment{
  /*span{
    margin-top: 4px;
    margin-left: 8px;
    font-weight: 600;
    position: absolute;
  }*/
}

minds-button-wire{
  height: 40px;
  overflow: hidden;

  ion-icon.m-ionic-icon{
    font-size: 42px;
    margin-top: -12px;
    width: 100%;
    text-align: center;
    color: #4690D6 !important;
  }
}
