<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title></ion-title>

    <ion-buttons right>
      <button ion-button class="m-ionic-capture--post-button" (click)="post()">
        Post <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="m-ionic-remind m-ionic-owner-block">
    <div class="m-ionic-avatar">
      <a>
        <img [src]="minds.cdn_url + '/icon/' + storage.get('user_guid') + '/medium'" class="mdl-shadow--2dp" imgFade />
      </a>
    </div>

    <div class="m-ionic-body">
      <m-textarea placeholder="Speak your mind..." [(mModel)]="message" [autofocus]="true"></m-textarea>
    </div>
  </div>

  <div class="m-ionic-remind-preview">
    <div class="m-ionic-remind-preview--overlay"></div>

    <activity [entity]="entity" [isPreview]="true" *ngIf="entity.type === 'activity'"></activity>
    <minds-entity [entity]="entity" [isPreview]="true" *ngIf="entity.type !== 'activity'"></minds-entity>
  </div>
</ion-content>
