<ion-modal-view ng-controller="NewsfeedBoostCtrl" class="view-bg">
	

	<ion-header-bar>
		<div class="buttons">
	    	<button class="button button-clear" ng-click="modal.remove()">Cancel</button>
	 	 </div>
	  	<h1 class="title">Boost Post</h1>
	  	<div class="buttons">
	  	    <a class="button button-clear icon icon-bank" href="#/tab/newsfeed/wallet" ng-click="modal.remove()">
				<wallet-counter></wallet-counter>
			</a>
	  	</div>
	</ion-header-bar>
	
	<ion-content>
	
	   <div ng-if="data.step == 1">
	   
	       <div class="wallet-points-input wallet-destination-select">
           
               <h3>Channel</h3>
                <input type="text" ng-model="data.destination" placeholder="Tap to search..." ng-keyup="changeDestination($event)" /> 
                <p>Select a channel above to have your post distributed to their subscribers in exchange for points.</p>
               
               <div class="wallet-users-list" ng-show="searching">
                   <div ng-repeat="user in results" ng-click="selectDestination(user);">
                       
                        <img src="{{$root.node_url}}icon/{{user.guid}}/small" />
                         @{{user.username}}
                   </div>
               </div>
           </div>
	   
	        <div class="wallet-points-input wallet-destination-select" ng-click="nextStep()">
               
               <h3>Full Network</h3>
               <p>Your post will appear at the top of everyone's newsfeed until your views are met.</p>
               <a class="button button-positive" ng-click="nextStep()" style="width:100%;">Select</a>

           </div>
	       	   
	   </div>
	   
	   <div ng-if="data.step == 2">
	   
    		<div class="wallet-points-input">
    			<div class="cell">
    				<input type="number" ng-model="data.points" placeholder="Tap to enter points"/> 
    			</div>
    			<div class="cell">
    				<label>Points</label>
    			</div>
    		</div>
    		
    		<div class="wallet-points-input" ng-if="!data.destination">
    			<div class="cell">
    				<input type="number" ng-model="data.impressions" disabled/> 
    			</div>
    			<div class="cell">
    				<label>Views</label>
    			</div>
    		</div>
    		
    		<div class="wallet-points-input" ng-if="!data.destination">
    		  <p style="color:#888;
                        padding:0 16px;
                        font-size:11px;">
    		      Transactions are non-refundable. 
    		      You will be notified when your post reaches the requested number of views. 
    		      The amount of time this will take depends on site activity, so don't worry if you don't hear from us for a while; we will keep it in circulation until it reaches the goal!
    		  </p>
    		</div>
    		
    		<div class="wallet-points-input" ng-if="data.destination">
              <p style="color:#888;
                        padding:0 16px;
                        font-size:11px;">
                  You will be notified if you post is accepted or rejected by {{data.destination}}. Once they accept, this post will not be able to be deleted.
              </p>
            </div>
    		
    		<button class="button wallet-purchase-button" ng-click="boost()">Boost!</button>
		
		</div>
    
	
	</ion-content>
</ion-modal-view>