<ion-view title="<img src='img/full_logo.png' class='topbar-logo'/>" ng-controller="NewsfeedCtrl" class="view-bg">
	
	<ion-nav-buttons side="left">
		<!--<a class="button button-clear icon ion-compose" ng-click="composer.show($event)"></a>-->
		<a class="button button-clear icon icon-bank" href="#/tab/newsfeed/wallet">
			<wallet-counter></wallet-counter>
		</a>
	</ion-nav-buttons>
	
	<ion-nav-buttons side="right">
		<!--<a class="button button-clear icon ion-compose" ng-click="composer.show($event)"></a>-->
		<a class="button button-clear" href="#/tab/newsfeed/channel/me">
			<img class="topbar-user-icon" ng-src="{{$root.node_url}}icon/{{$root.user_guid}}/small/"/>
		</a>
	</ion-nav-buttons>

	<ion-content>
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="refresh()">
        </ion-refresher>

		<ion-list>

			<activity-view ng-repeat="activity in newsfeedItems track by $id(activity)" id="{{activity.guid}}" class="activity-item list card">
			</activity-view>

		</ion-list>
		
		<ion-infinite-scroll ng-if="hasMore()" distance="5%" on-infinite="loadMore()"  >
		</ion-infinite-scroll>

	</ion-content>
</ion-view>