<ion-view title="<img src='img/full_logo.png' class='topbar-logo'/>" ng-controller="NewsfeedCtrl" class="view-bg">
	
    
    <ion-nav-buttons side="left">
        <a class="button button-clear icon ion-ios7-bell" href="#/tab/more/notifications"></a>
    </ion-nav-buttons>
	
	<ion-nav-buttons side="right">
		<a class="button button-clear icon ion-compose" ng-click="composer.show($event)"></a>
	</ion-nav-buttons>

	<ion-content>


        
		<ion-list>
		
			<ion-refresher
				pulling-text="Pull to refresh..."
				on-refresh="refresh()">
			</ion-refresher>

			<activity-view ng-repeat="activity in newsfeedItems" id="{{activity.guid}}" class="activity-item list card" >
			</activity-view>

		</ion-list>
		
		<ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="hasMoreData">
		infinite?
		</ion-infinite-scroll>

	</ion-content>
</ion-view>