<ion-header>
  <ion-navbar>

  </ion-navbar>

  <ion-toolbar mode='md'>
    <ion-segment [(ngModel)]="type" class="m-ionic-boost-console--filter" mode='md'>
      <ion-segment-button value="newsfeed" (ionSelect)="changeFilters('newsfeed')">
        Newsfeed
      </ion-segment-button>
      <ion-segment-button value="peer" (ionSelect)="changeFilters('peer')">
        Channel
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <div *ngFor="let boost of boosts; let i = index" class="m-ionic-boost-review--boost">
      <activity *ngIf="boost.entity" [entity]="boost.entity"></activity>
      <m-boost-console-card [boost]="boost"></m-boost-console-card>
    </div>

	</ion-list>


  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
