<ion-header>
  <ion-navbar>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row justify-content-center align-items-center>
      <ion-col col-4>
        <button class="m-ionic-boost-review--filter-button col" ion-button color="light" [ngClass]="{'active': type === 'newsfeed' }" (click)="changeFilters('newsfeed')">Newsfeed</button>
      </ion-col>
      <ion-col col-4>
        <button class="m-ionic-boost-review--filter-button col" ion-button color="light" [ngClass]="{'active': type === 'content' }" (click)="changeFilters('content')">Sidebar</button>
      </ion-col>
      <ion-col col-4>
        <button class="m-ionic-boost-review--filter-button col" ion-button color="light" [ngClass]="{'active': type === 'peer' }" (click)="changeFilters('peer')">Channel</button>
      </ion-col>
  </ion-row>
  <ion-list>

    <div *ngFor="let boost of boosts; let i = index" class="m-ionic-boost-review--boost">
      <ion-card>
        <activity *ngIf="boost.entity" [entity]="boost.entity"></activity>
        <m-boost-console-card [boost]="boost"></m-boost-console-card>
      </ion-card>
    </div>

	</ion-list>


  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
