.m-ionic-boost-review--tabs{
  display: flex;
  align-items: center;

  > * {
    flex: 1;
    padding: 16px;

    ion-icon{
      padding-right:8px;
    }
  }
}

.m-ionic-boost-review--filter-button.active{
  color: #4690D6;
}
