.m-ionic-explicit--blur {
  -webkit-filter: blur(4px);

  img{
    -webkit-filter: blur(12px);
  }
}

.m-ionic-discovery--tile{
  .m-ionic-explicit--blur {
    -webkit-filter: none;

    &::before{
      width: 100%;
      height: 100%;
      background: #333;
      opacity: 0.99;
      display: block;
      position: absolute;
      color: #FFF;
      content: '';
    }

    img{
      -webkit-filter: none;
    }
  }

}
