.m-auth-login-grid{
  /*padding: 16;*/
}

StackLayout {
  margin-left: 30;
  margin-right: 30;
  padding-bottom: 15;
  background-color: white;
}
Image {
  margin-top: 5;
  margin-bottom: 20;
}
Button, TextField {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}
.submit-button {
  margin-top: 20;
}

.m-auth-login-logo{
  max-width:200;
  width:200;
}
