<div class="m-paywall--button m-paywall--button-owner" (click)="checkout()"
  *ngIf="entity.ownerObj.guid == userGuid">
  <p>Only paid subscribers can see this post</p>
  <button>
    <ion-icon name="key"></ion-icon>
    <!-- i18n -->Exclusive<!-- /i18n -->
  </button>
</div>


<div class="m-paywall--button" (click)="checkout()" *ngIf="entity.ownerObj.guid != userGuid">
  <p *ngIf="entity.ownerObj.merchant?.exclusive?.intro">
    <b>&ldquo;</b> {{entity.ownerObj?.merchant?.exclusive?.intro}} <b>&rdquo;</b>
  </p>
  <p *ngIf="!entity.ownerObj.merchant?.exclusive?.intro">
    <b>&ldquo;</b> This post is only available to supporters. <b>&rdquo;</b>
  </p>
  <button *ngIf="!showCheckout">
    <ion-icon name="key"></ion-icon>
    <!-- i18n -->View<!-- /i18n -->
  </button>
</div>


<div class="m-paywall--error" *ngIf="error">
  <p>{{error}}</p>
</div>

<div class="m-paywall--amount" *ngIf="showCheckout">
  $ {{ amount }} / month
</div>


<div class="m-paywall--button" *ngIf="showCheckout">
  <button (click)="inputCard()">
    <!-- i18n -->Subscribe<!-- /i18n -->
  </button>
</div>


<div class="m-paywall--splash" *ngIf="entity.ownerObj.guid != userGuid">

  <img [src]="minds.cdn_url + 'fs/v1/paywall/preview/' + entity.ownerObj.guid + '/' + entity.guid"/>

</div>