
<div class="m-ionic-poster m-ionic-owner-block">

	<div class="m-ionic-avatar">
		<a>
			<img [src]="minds.cdn_url + '/icon/' + storage.get('user_guid') + '/medium'"
        class="mdl-shadow--2dp"
        imgFade
        />
		</a>
	</div>

	<div class="m-ionic-body">
    <m-textarea placeholder="Enter your status here" [(mModel)]="message"></m-textarea>

	</div>

  <div class="m-ionic-poster--icons">
    <ion-icon name="md-camera" (click)="openCamera()"></ion-icon>
  </div>

</div>


<div class="m-ionic-poster--actions" [class.m-ionic-poster--actions-show]="message || attachment.meta.attachment_guid">

  <button ion-button round (click)="post()">Post</button>

</div>
