.m-ionic-poster{
  padding:8px;
  border-bottom:1px solid #EEE;
  width: 100%;
  .m-ionic-avatar{
    img{
      min-width:32px;
      min-height:32px;
      max-width:32px;
      max-height:32px;
    }
  }

  .m-ionic-body{
    display: flex;
    flex: 100%;
    position:relative;
    padding: 8px;
    overflow: hidden;

    textarea{
      border:0;
    }

    suggestions-list{
      position: fixed;
      z-index: 100;
      margin-top: 10px;
      left: 0;
      width: 100%;
    }
  }

  .m-ionic-poster--icons{
    display: flex;
    flex: 1;
    ion-icon{
      font-size:24px;
    }
  }

  .m-ionic-poster--suggestionsList {
    flex: 1;
    width: 100%;
  }
}

.m-ionic-poster--actions{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  opacity:0;
  height:auto;
  max-height:0;
  overflow: hidden;

  -webkit-transition: opacity 1s ease-out, max-height 1s ease-out;
          transition: opacity 1s ease-out, max-height 1s ease-out;

  text-align:right;
  padding:8px;

  .m-ionic-poster--action {
    vertical-align: middle;

    > * {
      vertical-align: middle;
    }
  }

  .m-action {
    appearance: none;
    padding: 0;
    margin: 0;
    background: transparent;
    color: #cccccc;
    line-height: 0;

    > img {
      height: 23px;
    }

    &.m-mature.m-action-active {
      color: #c00000;
    }

    &.m-wire {
      padding: 0 0.35em;

      > ion-icon {
        font-size: 24px;
      }

      &.m-action-active {
        color: #4690D6;
      }
    }
  }

  .m-action-label {
    display: inline-block;
    font-size: 8px;
    padding: 3px;
    border: 1px solid #000000;
    border-radius: 4px;
    color: #000000;
    text-transform: uppercase;

    &.m-mature-label {
      border-color: #c00000;
      color: #c00000;
    }

    &.m-wire-label {
      border-color: #4690D6;
      color: #4690D6;
    }
  }
}
.m-ionic-poster--actions-show{

  opacity:1;

  height:auto;
  max-height: 300px;

}

.m-ionic--progress-bar{
  width:100%;
  height:4px;
  background:#EEE;
  display:block;
  position:relative;

  .m-ionic--progress-bar-progress{
    width:0;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:green;
  }
}
