.m-ionic-poster{

  padding:8px;
  border-bottom:1px solid #EEE;

  .m-ionic-avatar{
    img{
      min-width:32px;
      min-height:32px;
      max-width:32px;
      max-height:32px;
    }
  }

  textarea{
    border:0;
  }

}
