
<div class="m-ionic-poster m-ionic-owner-block">

	<!--<div class="m-ionic-avatar">
		<a>
			<img [src]="minds.cdn_url + '/icon/' + storage.get('user_guid') + '/medium'"
        class="mdl-shadow--2dp"
        imgFade
        />
		</a>
	</div>-->

	<div class="m-ionic-body">
    <m-textarea [placeholder]="placeholder" [(mModel)]="meta.message"></m-textarea>

	</div>

  <div class="m-ionic-poster--icons">
    <ion-icon name="md-camera" (click)="openCamera()"></ion-icon>
  </div>

</div>

<m-rich-input [richInput]="meta.message" (richInputMeta)="setRichMeta($event)"></m-rich-input>

<div class="m-ionic-poster--preview" *ngIf="attachment.previewUri" (click)="attachment.reset()">
	<img [src]="attachment.previewUri" style="display: block;width: 100%;"/>
</div>

<div class="m-ionic--progress-bar" *ngIf="progress > 0">
  <div class="m-ionic--progress-bar-progress" [style.width]="progress + '%'"></div>
</div>


<div class="m-ionic-poster--actions" [class.m-ionic-poster--actions-show]="meta.message || meta.attachment_guid">

  <button ion-button round (click)="post()" [disabled]="progress > 0 && progress < 100">Post</button>

</div>
