<ion-header>
  <ion-navbar>
    <ion-buttons right >
      <button ion-button [navPush]="components.settings">
        <ion-icon name="md-options"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
  <ion-toolbar mode='md'>
    <ion-segment [(ngModel)]="filter" class="m-ionic-notifications--filter" mode='md'>
      <ion-segment-button value="all" (ionSelect)="setFilter('all')">
        <ion-icon name="md-notifications"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="tags" (ionSelect)="setFilter('tags')">
        <ion-icon name="md-pricetag"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="comments" (ionSelect)="setFilter('comments')">
        <ion-icon name="md-chatbubbles"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="boosts" (ionSelect)="setFilter('boosts')">
        <ion-icon name="md-trending-up"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="votes" (ionSelect)="setFilter('votes')">
        <ion-icon name="md-thumbs-up"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content #scrollArea>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <!--<div class="list card item-text-wrap m-tip m-tip-boosting">
      <p>Tip: use your points to boost to more people's newsfeeds. <a >OK!</a></p>
    </div>-->

    <ion-item *ngFor="let notification of notifications" no-padding text-wrap>
  		<notification-card [entity]="notification">
  		</notification-card>
    </ion-item>

	</ion-list>


  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
