<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>

    </ion-title>
    <ion-buttons right>
      <button ion-button
        [navPush]="components.channel"
        [navParams]="{ guid: 'me' }">
        <img [src]="'https://www.minds.com/icon/' + storage.get('user_guid') +'/small'"
          width="36"
          height="36"
          style="margin: 0px; border-radius:50%;"
          />
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <!--<div class="list card item-text-wrap m-tip m-tip-boosting">
      <p>Tip: use your points to boost to more people's newsfeeds. <a >OK!</a></p>
    </div>-->

    <ion-item *ngFor="let notification of notifications" no-padding>
  		<notification-card [entity]="notification">
  		</notification-card>
    </ion-item>

	</ion-list>


  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
