
.m-ionic-activity{
  border-bottom:1px solid #EEE;
}

.m-ionic-owner-block{
  display:flex;
  align-items: center;

  > div {
    padding:8px;
  }

  a{
    color: #333;
    text-decoration:none;
  }

  span{
    font-size:11px;
  }
}

.m-ionic-image{
  img{
    width:100%;
  }
}

.m-ionic-message{
  padding:8px;
  //font-size:11px;
}

.m-ionic-rich-embed{
  img{
    width:100%;
  }
  h3{
    font-size:16px;
    padding:8px;
    margin:0;
  }
  p{
    padding:0 8px;
    margin:0;
    color:#888;
  }
}

.m-ionic-tabs{
  display:flex;

  > * {
    flex:1;
    padding:8px 0;
    color:#888;
    text-align:center;
  }
}
