<div class="m-ionic-boosted-tag" *ngIf="!preview && entity.boosted">
	<ion-icon name="trending-up"></ion-icon>
	<a style="color:#999" i18n>Boosted</a>
</div>

<!-- RemindOwner block -->
<div class="m-ionic-owner-block m-ionic-remind-owner-block" *ngIf="entity.reminderOwnerObj && entity.reminderOwnerObj.username">
	<ion-icon name="md-repeat"></ion-icon>
	<div class="m-ionic-avatar">
		<a>
			<img [src]="minds.cdn_url + '/icon/' + entity.reminderOwnerObj.guid + '/medium/' + entity.reminderOwnerObj.icontime"
        class="mdl-shadow--2dp"
        [navPush]="components.channel"
        [navParams]="{ channel: entity.reminderOwnerObj }"
        imgFade
        />
		</a>
	</div>
	<div class="m-ionic-body">
		<a [navPush]="components.channel" [navParams]="{ channel: entity.reminderOwnerObj }">
			<strong>{{entity.reminderOwnerObj.name}}</strong>
		</a>
	</div>
</div>

<div class="m-ionic-remind-message" *ngIf="entity.reminderMessage">
	<span [innerHtml]="entity.reminderMessage | tags" allow-text-select></span>
</div>

<!-- Owner block -->
<div class="m-ionic-owner-block" *ngIf="entity.ownerObj && entity.ownerObj.username">

	<div class="m-ionic-avatar">
		<a>
			<img [src]="minds.cdn_url + '/icon/' + entity.ownerObj.guid + '/medium/' + entity.ownerObj.icontime"
        class="mdl-shadow--2dp"
        [navPush]="components.channel"
        [navParams]="{ channel: entity.ownerObj }"
        imgFade
        />
		</a>
	</div>

	<div class="m-ionic-body">
		<a class="m-name" [navPush]="components.channel" [navParams]="{ guid: entity.ownerObj.guid}">
			<strong>{{entity.ownerObj.name}}</strong>
		</a>
    <a *ngIf="entity.containerObj && entity.containerObj.type == 'group'"
      class="m-name mdl-color-text--blue-grey-300"
			[navPush]="components.group" [navParams]="{ guid: entity.containerObj.guid}"
			>
      <strong>({{entity.containerObj.name}})</strong>
    </a>
		<a  [navPush]="components.activity"
	      [navParams]="{ guid: entity.guid }" class="m-date">
			<span>{{entity.time_created * 1000 | date:'medium'}}</span>
		</a>
	</div>

	<div class="m-ionic-actions" *ngIf="!preview">
		<ion-icon name="md-more" (click)="openSettings()"></ion-icon>
	</div>

</div>

<!-- PayWall -->
<!--<minds-paywall class="m-paywall" [(entity)]="activity" *ngIf="!preview && entity.paywall">
</minds-paywall>-->
<!-- END: PayWall -->

<!-- Messages -->
<div class="m-ionic-message" [hidden]="!entity.message || editing">
	<span
	  [innerHtml]="entity.message | tags "
		allow-text-select
		[explicit]="entity.mature"
		(showExplicit)="entity.mature = !$event; cd.markForCheck(); cd.detectChanges()"
		>
    </span>
</div>

<translation-view [guid]="entity.guid" [language]="language"></translation-view>

<div class="m-ionic-editable-container" *ngIf="editing && (!entity.custom_type || (entity.custom_type && !entity.title))">
	<!-- NOTE the intentional single way binding for ngModel, we want to be able to cancel our changes -->
	<m-textarea class="mdl-card__supporting-text message" name="message" #messageEdit [mModel]="entity.message" (mModelChange)="messageEdit.value = $event"></m-textarea>
	<button ion-button (click)="messageEdit.value = entity.message; editing=false;" i18n>Cancel</button>
	<button ion-button (click)="entity.message = messageEdit.value; save();" i18n>Save</button>
</div>

<!-- Rich content -->
<div class="m-ionic-rich-embed"
  *ngIf="entity.perma_url && entity.title"
  (click)="openInBrowser(entity.perma_url)"
	[explicit]="entity.mature"
	(showExplicit)="entity.mature = !$event; cd.markForCheck(); cd.detectChanges()"
  >
	<img [src]="entity.thumbnail_src" (error)="entity.thumbnail_src = null" *ngIf="entity.thumbnail_src">
  <h3>{{entity.title}}</h3>
  <p>{{entity.perma_url | domain }}</p>
</div>

<div class="mdl-card__supporting-text m-ionic-message" [hidden]="!entity.title || entity.perma_url || editing" [innerHtml]="entity.title" allow-text-select></div>

<div class="minds-editable-container" *ngIf="editing && entity.custom_type && entity.title">
	<!-- Please not the intentional single way binding for ngModel, we want to be able to cancel our changes -->
	<textarea class="mdl-card__supporting-text message" name="title" [ngModel]="entity.title" #titleEdit></textarea>
	<button class="mdl-button mdl-button--raised mdl-color--blue-grey-100" (click)="titleEdit.value = entity.title; editing=false;" i18n>Cancel</button>
	<button class="mdl-button mdl-button--colored mdl-button--raised" (click)="entity.title = titleEdit.value; save();" i18n>Save</button>
</div>

<div class="item item-image item-image-video"
  *ngIf="entity.custom_type == 'video'"
>
  <minds-video
    [src]="minds.cdn_url + 'api/v1/archive/' + entity.custom_data.guid + '/play'"
    [thumbnail]="entity.custom_data.thumbnail_src"
    [preview]="true"
    [previewPlayback]="active"
    [analyticsGuid]="entity.entity_guid"
    #player='video'
  ></minds-video>
 </div>

<!-- Images -->
<div class="m-ionic-image allow-select"
 *ngIf="entity.thumbnail_src && !entity.perma_url"
 [explicit]="entity.mature"
 (showExplicit)="entity.mature = !$event; cd.markForCheck(); cd.detectChanges()"
 >
	<a (click)="openImage()">
		<img [src]="entity.thumbnail_src" (error)="entity.thumbnail_src = null">
	</a>
</div>

<!-- Custom type:: batch -->
<div class="m-ionic-image allow-select"
 *ngIf="entity.custom_type == 'batch'">

	<a (click)="openImage()">
		<img [src]="entity.custom_data[0].src" style="width:100%"
      (error)="entity.custom_data[0].src = minds.cdn_url + 'assets/logos/medium.png'"
      imgFade
      *ngIf="entity.custom_data"
    >
	</a>
</div>

<div class="m-ionic-tabs" *ngIf="!preview">
  <minds-button-thumbs-up [entity]="entity" ></minds-button-thumbs-up>
  <minds-button-thumbs-down [entity]="entity" ></minds-button-thumbs-down>
	<minds-button-wire [entity]="entity" *ngIf="!(entity.owner_guid == storage.get('user_guid') || (entity.reminderOwnerObj  && entity.reminderOwnerObj.guid == storage.get('user_guid')))"></minds-button-wire>
  <minds-button-comment [entity]="entity" ></minds-button-comment>
  <minds-button-remind [entity]="rawEntity" ></minds-button-remind>
	<button class="m-ionic-boost-button" (click)="boost()"
		*ngIf="entity.owner_guid == storage.get('user_guid') || (entity.reminderOwnerObj  && entity.reminderOwnerObj.guid == storage.get('user_guid'))">
		Boost
	</button>
</div>

<div class="m-ionic-activity--impressions" *ngIf="!preview">
	{{entity.impressions}} views
</div>
