<StackLayout
  minHeight="300"
  horizontalAlignment="center"
  verticalAlignment="center"
  *ngIf="inProgress && feed.length == 0"
  >
  <ActivityIndicator busy="true" style="color: #888"></ActivityIndicator>
</StackLayout>


<PullToRefresh #puller (refresh)="refresh(puller)">
  <ListView [items]="feed" (loadMoreItems)="loadMore()">
    <template let-item="item" let-i="index" let-odd="odd" let-even="even">
      <StackLayout [class.odd]="odd" [class.even]="even">
        <activity [entity]="item"></activity>
      </StackLayout>
    </template>
  </ListView>
</PullToRefresh>
