<StackLayout
  minHeight="300"
  horizontalAlignment="center"
  verticalAlignment="center"
  *ngIf="inProgress && feed.length == 0"
  >
  <ActivityIndicator busy="true" style="color: #888"></ActivityIndicator>
</StackLayout>


<PullToRefresh #puller (refresh)="refresh(puller)">
  <ListView [items]="feed" (loadMoreItems)="loadMore()" [itemTemplateSelector]="templateSelector">

    <template nsTemplateKey="image-activity" let-item="item" let-i="index" >
      <StackLayout>
        <image-activity [entity]="item"></image-activity>
      </StackLayout>
    </template>

    <template nsTemplateKey="batch-activity" let-item="item" let-i="index" >
      <StackLayout>
        <batch-activity [entity]="item"></batch-activity>
      </StackLayout>
    </template>

    <template nsTemplateKey="rich-activity" let-item="item" let-i="index" >
      <StackLayout>
        <rich-activity [entity]="item"></rich-activity>
      </StackLayout>
    </template>

    <template nsTemplateKey="default" let-i="index" >
      <StackLayout>
        <activity [entity]="item"></activity>
      </StackLayout>
    </template>

  </ListView>
</PullToRefresh>
