<!-- @don't forget to add new links or types on notification route service's cases -->
<div class="m-ionic-avatar">
  <a  *ngIf="entity.fromObj"
    [navPush]="components.channel"
    [navParams]="{ guid: entity.fromObj.guid}">
    <img [src]="minds.cdn_url + '/icon/' + entity.fromObj.guid + '/medium'" class="mdl-shadow--2dp"/>
  </a>
</div>

<div [ngSwitch]="entity.notification_view" class="m-ionic-notifications--card-body">

  <!-- subscribed -->
  <ng-template ngSwitchCase="friends">
    <a [navPush]="components.channel"
        [navParams]="{ guid: entity.fromObj.guid}">
      <p *ngIf="entity.fromObj.subscribed" i18n>You have a match! {{entity.fromObj.name}} subscribed to you</p>
      <p *ngIf="!entity.fromObj.subscribed" i18n>{{entity.fromObj.name}} subscribed to you</p>
    </a>
  </ng-template>

  <!-- group inivite -->
  <ng-template ngSwitchCase="group_invite">
    <a [navPush]="components.group" [navParams]="{guid: entity.params.group.guid}">
        <p i18n>{{entity.params.user}} invited you to join <span class="pseudo-link mdl-color-text--blue-grey-400">{{entity.params.group.name}}</span></p>
    </a>
  </ng-template>

  <!-- group kick -->
  <ng-template ngSwitchCase="group_kick">
    <a [navPush]="components.group" [navParams]="{guid: entity.params.group.guid}">
        <p i18n>You were kicked off from <span class="pseudo-link mdl-color-text--blue-grey-400">{{entity.params.group.name}}</span></p>
    </a>
  </ng-template>

  <!-- group activity -->
  <ng-template ngSwitchCase="group_activity">
    <a [navPush]="components.activity"
        [navParams]="{ guid: entity.entityObj.guid }">
      <p>
        <!-- i18n --><span class="pseudo-link mdl-color-text--blue-grey-400">{{entity.fromObj.name}}</span> posted in <span class="pseudo-link mdl-color-text--blue-grey-400">{{entity.params.group.name}}</span><!-- /i18n -->
      </p>
    </a>
  </ng-template>

  <!-- comment -->
  <ng-template ngSwitchCase="comment">
    <div *ngIf="entity.entityObj">

      <!-- Activity -->
      <a *ngIf="entity.entityObj.type == 'activity'"
          [navPush]="components.activity"
          [navParams]="{ guid: entity.entityObj.guid }">
        <p *ngIf="entity.entityObj.owner_guid == storage.get('user_guid') && !entity.entityObj.title">
          <!-- i18n -->{{entity.fromObj.name}} commented on <span class="pseudo-link mdl-color-text--blue-grey-400">your activity</span><!-- /i18n -->
        </p>
        <p *ngIf="entity.entityObj.owner_guid != storage.get('user_guid')  && !entity.entityObj.title">
          <!-- i18n -->{{entity.fromObj.name}} commented on <span class="pseudo-link mdl-color-text--blue-grey-400">{{entity.entityObj.ownerObj.name}}'s activity</span><!-- /i18n -->
        </p>
        <p *ngIf="entity.entityObj.title">
          <!-- i18n -->{{entity.fromObj.name}} commented on <span class="pseudo-link mdl-color-text--blue-grey-400">{{entity.entityObj.title}}</span><!-- /i18n -->
        </p>
      </a>

      <!-- Object-->
      <div *ngIf="entity.entityObj.type == 'object'">

        <div *ngIf="entity.entityObj.subtype == 'blog'">
          <a [navPush]="components.blogView" [navParams]="{ guid: entity.entityObj.guid }">
            <p i18n>{{entity.fromObj.name}} commented on <span class="pseudo-link mdl-color-text--blue-grey-400">{{entity.entityObj.title}}</span></p>
          </a>
        </div>

        <div *ngIf="entity.entityObj.subtype != 'blog'">
          <a [navPush]="components.entityView" [navParams]="{ entity: entity.entityObj }">
            <p>
              <!-- i18n -->{{entity.fromObj.name}} commented on<!-- /i18n -->
              <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj.title" >{{entity.entityObj.title}}</span>
              <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj.owner_guid != storage.get('user_guid') && !entity.entityObj.title" i18n="object belonging to user">{{entity.entityObj.ownerObj.name}}'s {{entity.entityObj.subtype}}</span>
              <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj.owner_guid == storage.get('user_guid') && !entity.entityObj.title" i18n="object belonging to current user">your {{entity.entityObj.subtype}}</span>
            </p>
          </a>
        </div>

      </div>

      <!-- Default -->
      <a *ngIf="entity.entityObj.type != 'object' && entity.entityObj.type != 'activity'">
        <p style="font-style:italic">
        <!-- i18n -->There was an error viewing this entity.<!-- /i18n -->
        </p>
      </a>
    </div>
  </ng-template>

  <!-- up voted content -->
  <ng-template ngSwitchCase="like">
    <div *ngIf="entity.entityObj">
      <a *ngIf="entity.entityObj.type == 'object'"
          [navPush]="components.blogView"
          [navParams]="{ guid: entity.entityObj.guid}">
        <p>
          <!-- i18n -->{{entity.fromObj.name}} voted up<!-- /i18n -->
          <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj.title">{{entity.entityObj.title}}</span>
          <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="!entity.entityObj.title" i18n="object belonging to current user">your {{entity.entityObj.subtype}}</span>
        </p>
      </a>
      <a *ngIf="entity.entityObj.type == 'activity'"
          [navPush]="components.activity"
          [navParams]="{ guid: entity.entityObj.guid}">
        <p *ngIf="entity.entityObj.title">
          <!-- i18n -->{{entity.fromObj.name}} voted up <span class="pseudo-link mdl-color-text--blue-grey-400">{{entity.entityObj.title}}</span><!-- /i18n -->
        </p>
        <p *ngIf="!entity.entityObj.title">
          <!-- i18n -->{{entity.fromObj.name}} voted up <span class="pseudo-link mdl-color-text--blue-grey-400">your activity</span><!-- /i18n -->
        </p>
      </a>
      <a *ngIf="entity.entityObj.type == 'comment'"
          [navPush]="components.activity"
          [navParams]="{ guid: entity.entityObj.parent_guid}">
        <p>
          <!-- i18n -->{{entity.fromObj.name}} voted up <span class="pseudo-link mdl-color-text--blue-grey-400"> your comment </span><!-- /i18n -->
        </p>
      </a>
      <a *ngIf="!entity.entityObj">
        <p style="font-style:italic">
          <!-- i18n -->This post was deleted.<!-- /i18n -->
        </p>
      </a>
    </div>
  </ng-template>

  <!-- down voted content -->
  <ng-template ngSwitchCase="downvote">
    <div *ngIf="entity.entityObj">
      <a *ngIf="entity.entityObj.type == 'object'"
          [navPush]="components.blogView"
          [navParams]="{ guid: entity.entityObj.guid}">
        <p>
          <!-- i18n -->{{entity.fromObj.name}} down voted<!-- /i18n -->
              <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj.title">{{entity.entityObj.title}}</span>
              <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="!entity.entityObj.title" i18n="object belonging to current user">your {{entity.entityObj.subtype}}</span>
        </p>
      </a>
      <a *ngIf="entity.entityObj.type == 'activity'">
        <p *ngIf="entity.entityObj.title">
          <!-- i18n -->{{entity.fromObj.name}} down voted <span class="pseudo-link mdl-color-text--blue-grey-400">{{entity.entityObj.title}}</span><!-- /i18n -->
        </p>
        <p *ngIf="!entity.entityObj.title">
          <!-- i18n -->{{entity.fromObj.name}} down voted <span class="pseudo-link mdl-color-text--blue-grey-400">your activity</span><!-- /i18n -->
        </p>
      </a>
      <a *ngIf="entity.entityObj.type == 'comment'">
        <p>
          <!-- i18n -->{{entity.fromObj.name}} down voted <span class="pseudo-link mdl-color-text--blue-grey-400"> your comment </span><!-- /i18n -->
        </p>
      </a>
      <a *ngIf="!entity.entityObj">
        <p style="font-style:italic">
          <!-- i18n -->This post was deleted.<!-- /i18n -->
        </p>
      </a>
    </div>
  </ng-template>

  <!-- Remind -->
  <ng-template ngSwitchCase="remind">
    <div *ngIf="entity.entityObj">
      <a *ngIf="entity.entityObj.type == 'object'"
        [navPush]="components.activity"
        [navParams]="{ guid: entity.entityObj.guid}">
          <p><!-- i18n -->{{entity.fromObj.name}} reminded<!-- /i18n -->
              <span class="pseudo-link mdl-color-text--blue-grey-400"  *ngIf="entity.entityObj.title">{{entity.entityObj.title}}</span>
              <span class="pseudo-link mdl-color-text--blue-grey-400"  *ngIf="!entity.entityObj.title" i18n="object belonging to current user">your {{entity.entityObj.subtype}}</span>
         </p>
      </a>
      <a *ngIf="entity.entityObj.type == 'activity'"
          [navPush]="components.activity"
          [navParams]="{ guid: entity.entityObj.guid}"
          >
          <p *ngIf="entity.entityObj.title">
            <!-- i18n -->{{entity.fromObj.name}} reminded <span class="pseudo-link mdl-color-text--blue-grey-400">{{entity.entityObj.title}}</span><!-- /i18n -->
          </p>
          <p *ngIf="!entity.entityObj.title">
            <!-- i18n -->{{entity.fromObj.name}} reminded <span class="pseudo-link mdl-color-text--blue-grey-400">your activity</span><!-- /i18n -->
          </p>
      </a>
    </div>
  </ng-template>

  <!-- featured -->
  <ng-template ngSwitchCase="feature">
    <div *ngIf="entity.entityObj">
      <a [navPush]="components.activity"
        [navParams]="{ guid: entity.entityObj.guid}">
        <p i18n><span class="pseudo-link mdl-color-text--blue-grey-400">{{entity.entityObj.title}}</span> was featured</p>
      </a>
    </div>
  </ng-template>

  <!-- mention -->
  <ng-template ngSwitchCase="tag">
    <div *ngIf="entity.entityObj">
      <!-- tags from comments link differently -->
      <a *ngIf="entity.entityObj.type != 'comment'"
        [navPush]="components.activity"
        [navParams]="{ guid: entity.entityObj.guid}">
        <p i18n>{{entity.fromObj.name}} tagged you in a post</p>
      </a>
      <a *ngIf="entity.entityObj.type == 'comment'"
        [navPush]="components.activity"
        [navParams]="{ guid: entity.entityObj.parent_guid}">
        <p i18n>{{entity.fromObj.name}} tagged you in a comment</p>
      </a>
    </div>
  </ng-template>

  <!-- missed-call -->
  <ng-template ngSwitchCase="missed_call">
    <a >
      <p i18n><span class="pseudo-link mdl-color-text--blue-grey-400" >{{entity.fromObj.name}}</span> tried to call you.</p>
    </a>
  </ng-template>

  <!-- boost_gift -->
  <ng-template ngSwitchCase="boost_gift">
    <a>
      <p>
        <!-- i18n -->{{entity.fromObj.name}} gifted you {{entity.params.impressions}} views <span *ngIf="entity.entityObj">for</span><!-- /i18n -->
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && entity.entityObj.title">{{entity.entityObj.title}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && entity.entityObj.name">{{entity.entityObj.name}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && !entity.entityObj.name && entity.entityObj.type !== 'user'" i18n>your post</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && !entity.entityObj.name && entity.entityObj.type === 'user'" i18n>your channel</span>
      </p>
    </a>
  </ng-template>

  <!-- Standard boost notification for owner -->
  <ng-template ngSwitchCase="boost_submitted">
    <a>
     <p><!-- i18n -->{{entity.params.impressions}} views <span *ngIf="entity.entityObj">for</span><!-- /i18n -->
      <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && entity.entityObj.title">{{entity.entityObj.title}}</span>
      <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && entity.entityObj.name">{{entity.entityObj.name}}</span>
      <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && !entity.entityObj.name && entity.entityObj.type !== 'user'" i18n>your post</span>
      <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && !entity.entityObj.name && entity.entityObj.type === 'user'" i18n>your channel</span>
      <!-- i18n: boost --> is awaiting approval.<!-- /i18n -->
     </p>
   </a>
  </ng-template>

  <!-- P2P boost submitted -->
  <ng-template ngSwitchCase="boost_submitted_p2p">
      <a>
        <p><!-- i18n -->{{entity.params.points}} points <span *ngIf="entity.entityObj">for</span><!-- /i18n -->
          <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && entity.entityObj.title">{{entity.entityObj.title}}</span>
          <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && entity.entityObj.name">{{entity.entityObj.name}}</span>
          <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && !entity.entityObj.name && entity.entityObj.type !== 'user'" i18n>your post</span>
          <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && !entity.entityObj.name && entity.entityObj.type === 'user'" i18n>your channel</span>
          <!-- i18n: boost -->is awaiting approval by <span class="pseudo-link mdl-color-text--blue-grey-400">@{{entity.params.channel}}</span><!-- /i18n -->
        </p>
      </a>
  </ng-template>

  <!-- Boost reject -->
  <ng-template ngSwitchCase="boost_rejected">
    <a>
      <p><!-- i18n -->Your boost <span *ngIf="entity.entityObj">for</span><!-- /i18n -->
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && entity.entityObj.title">{{entity.entityObj.title}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && entity.entityObj.name">{{entity.entityObj.name}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && !entity.entityObj.name && entity.entityObj.type !== 'user'" i18n>your post</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && !entity.entityObj.name && entity.entityObj.type === 'user'" i18n>your channel</span>
        <!-- i18n: boost -->was rejected: <ng-container *ngIf="entity.params.reason && entity.params.reason !== -1"><i>{{ findReason(entity.params.reason).label}}</i>.</ng-container> Your points have been credited back to your wallet.<!-- /i18n -->
      </p>
    </a>
  </ng-template>

  <!-- Boost accepted -->
  <ng-template ngSwitchCase="boost_accepted">
    <a>
      <p *ngIf="entity.params.impressions"><!-- i18n -->{{entity.params.impressions}} points <span *ngIf="entity.entityObj">for</span><!-- /i18n -->
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && entity.entityObj.title">{{entity.entityObj.title}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && entity.entityObj.name">{{entity.entityObj.name}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && !entity.entityObj.name && entity.entityObj.type !== 'user'" i18n>your post</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && !entity.entityObj.name && entity.entityObj.type === 'user'" i18n>your channel</span>
        <!-- i18n: boost -->were accepted.<!-- /i18n -->
      </p>
      <p *ngIf="entity.params.points"><!-- i18n -->{{entity.params.points}} points <span *ngIf="entity.entityObj">for</span><!-- /i18n -->
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && entity.entityObj.title">{{entity.entityObj.title}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && entity.entityObj.name">{{entity.entityObj.name}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && !entity.entityObj.name && entity.entityObj.type !== 'user'" i18n>your post</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && !entity.entityObj.name && entity.entityObj.type === 'user'" i18n>your channel</span>
        <!-- i18n: boost -->were accepted.<!-- /i18n -->
      </p>
    </a>
  </ng-template>

  <!-- Boost completed -->
  <ng-template ngSwitchCase="boost_completed">
    <a>
      <p><!-- i18n -->{{entity.params.impressions}}/{{entity.params.impressions}} views <span *ngIf="entity.entityObj">for</span><!-- /i18n -->
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && entity.entityObj.title">{{entity.entityObj.title}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && entity.entityObj.name">{{entity.entityObj.name}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && !entity.entityObj.name && entity.entityObj.type !== 'user'" i18n>your post</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && !entity.entityObj.name && entity.entityObj.type === 'user'" i18n>your channel</span>
        <!-- i18n: boost -->have been met.<!-- /i18n --></p>
    </a>
  </ng-template>

  <!-- Boost (Peer) Request -->
  <ng-template ngSwitchCase="boost_peer_request">
    <a>
      <p>
        <!-- i18n --><b>@{{entity.from.username}}</b> is offering<!-- /i18n -->
        <b>
          {{entity.params.bid}}
          <span [hidden]="entity.params.type != 'pro'" i18n>USD</span>
          <span [hidden]="entity.params.type != 'points'" i18n>points</span>
        </b>
        <span *ngIf="entity.entityObj">for</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && entity.entityObj.title">{{entity.entityObj.title}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && entity.entityObj.name">{{entity.entityObj.name}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && !entity.entityObj.name && entity.entityObj.type !== 'user'" i18n>their post</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && !entity.entityObj.name && entity.entityObj.type === 'user'" i18n>their channel</span>
      </p>
    </a>
  </ng-template>

  <!-- Boost (Peer) Request -->
  <ng-template ngSwitchCase="boost_peer_accepted">
    <a>
      <p>
        <!-- i18n --><b>@{{entity.from.username}}</b> accepted your bid of<!-- /i18n -->
        <b>
          {{entity.params.bid}}
          <span [hidden]="entity.params.type != 'pro'" i18n>USD</span>
          <span [hidden]="entity.params.type != 'points'" i18n>points</span>
        </b>
        <span *ngIf="entity.entityObj">for</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400"  *ngIf="entity.entityObj && entity.entityObj.title">{{entity.entity.title}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && entity.entityObj.type !== 'user'" i18n>your post</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && entity.entityObj.type === 'user'" i18n>your channel</span>
      </p>
    </a>
  </ng-template>

  <!-- Boost (Peer) Rejeced -->
  <ng-template ngSwitchCase="boost_peer_rejected">
    <a>
      <p>
        <!-- i18n --><b>@{{entity.from.username}}</b> declined your bid of<!-- /i18n -->
        <b>
          {{entity.params.bid}}
          <span [hidden]="entity.params.type != 'pro'" i18n>USD</span>
          <span [hidden]="entity.params.type != 'points'" i18n>points</span>
        </b>
        <span *ngIf="entity.entityObj" i18n="X points _for_ entity">for</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400"  *ngIf="entity.entityObj && entity.entityObj.title">{{entity.entity.title}}</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && entity.entityObj.type !== 'user'" i18n>your post</span>
        <span class="pseudo-link mdl-color-text--blue-grey-400" *ngIf="entity.entityObj && !entity.entityObj.title && entity.entityObj.type === 'user'" i18n>your channel</span>
        <!-- i18n: boost -->You have not been charged.<!-- /i18n -->
      </p>
    </a>
  </ng-template>

  <!-- Points prompt -->
  <ng-template ngSwitchCase="custom_message">
      <a>
          <p>{{entity.params.message}}</p>
      </a>
  </ng-template>

  <!-- Welcome points -->
  <ng-template ngSwitchCase="welcome_points">
      <a>
          <p i18n>Welcome to Minds. We have given you  <span class="pseudo-link mdl-color-text--blue-grey-400">100 points</span> to get you started.</p>
      </a>
  </ng-template>

  <!-- tutorial/promts -->
  <ng-template ngSwitchCase="welcome_post">
      <a>
          <p i18n><span class="pseudo-link mdl-color-text--blue-grey-400">Tap here</span> to create a post</p>
      </a>
  </ng-template>

  <!-- Welcome messages -->
  <ng-template ngSwitchCase="welcome_boost">
      <a>
          <p i18n>You can gain more reach by boosting your content. Hit the blue boost icon on your posts.</p>
      </a>
  </ng-template>
  <ng-template ngSwitchCase="welcome_chat">
      <a>
          <p i18n>Chat securely with your mutual subscriptions.</p>
      </a>
  </ng-template>
  <ng-template ngSwitchCase="welcome_discover">
      <a>
          <p i18n><span class="pseudo-link mdl-color-text--blue-grey-400">Tap here.</span> to discover new channels and media.</p>
      </a>
  </ng-template>

  <!-- Default -->
  <ng-template ngSwitchDefault>
    <i i18n>Sorry, there was an error viewing this notification</i>
    <span hidden>View: {{ entity.notification_view }}</span>
  </ng-template>

  <span class="ts mdl-color-text--grey">{{ entity.time_created * 1000 | date : 'medium' }}</span>

</div>

<div class="m-ionic-notifications--card-actions">
  <ion-icon name="person-add"
    *ngIf="entity.fromObj.guid != storage.get('user_guid') && !entity.fromObj.subscribed"
    [class.selected]="entity.fromObj.subscribed"
    (click)="subscribe()"
    ></ion-icon>
</div>
