notification-card{
  display:flex;
  align-items:center;
  padding:8px;
}


.m-ionic-notifications--card-body{
  padding-left:16px;
  flex:1;

  a {
    text-decoration: none;
  }

  span.ts{
    font-size: 11px;
  }
}
.m-ionic-notifications--card-actions{
  ion-icon{
    margin-left: 8px;
  }
}
