.button.button-positive{
	background:#4690D6;
}

.selected > i{
	color:#4690D6 !important;
}
.selected{
	color:#4690D6 !important;
	}

.submit-button{
	color:#4690D6 !important;
	font-weight:600 !important;
	float:right;
}

.icon-remind:before{
	content: '\e800';
	font-family:"fontello";
}
.icon-bank:before{
	content: '\e801';
	font-family:"fontello";
}
.bar .icon-bank:before{
	font-size:22px !important;
}


.tabs .tab-item.discover-button{
	/*border-radius:50%;
	padding:8px;*/
	/*opacity:1 !important;
	box-shadow:inset 0 0 4px #888;*/
	border-right:1px solid #DDD !important;
}
.tabs .tab-item.discover-button:last-of-type{
	border:0 !important;
}
.tabs .tab-item.discover-button > i.icon:before{
	font-size:32px !important;
	line-height:58px;
}
.discover-button-pass{
	/*background:#FFCC00;*/
}
.discover-button-pass > i.icon{
	padding-top:2px;
	font-size:14px !important;
	/*text-shadow: 0 0 3px #FFCC00;*/
	font-weight: bold !important;
}
.discover-button-no, .discover-button-down{
	/*background:red;*/
	color:#FFF !important;
}
.discover-button-no > i.icon, .discover-button-down > i.icon{
	color:red;
}
.discover-button-subscribe, .discover-button-up{
	/*background:green;*/
}
.discover-button-subscribe > i.icon, .discover-button-up > i.icon{
	color:green;
}
.discover-button-subscribe-subscribed > i.icon{
	color:#4690C3 !important;
}