.button.button-positive{
	background:#4690D6;
}

.capture-tab{

	background: #000 !important;
	color:#EEE;
	
}

.selected > i{
	color:#4690D6 !important;
}
.selected{
	color:#4690D6 !important;
	}

.submit-button{
	color:#4690D6 !important;
	font-weight:600 !important;
}