.carousel{
	position:absolute;
	top:0;
    left:0;
    width:100%;
    height:280px;
    background: #4690C3;
}
.carousel img{
     width:180%;
     position:absolute;
     top:0;
     left:0;
 }
 .carousel.blur img{
  /*  transition: 0.5s -webkit-filter linear;
    -webkit-filter:blur(20px);*/
 }
.channel-content {
	padding-top:80px;
	width:100%;
	bottom:-50px;
}
.channel-content .inner{
    /*background:#FFF;*/
    z-index:99;
    position:relative;
    width:100%;
	background-image: -webkit-gradient(
		linear, left top, left bottom, from(rgba(255,255,255,0)),
		to(rgba(0,0,0,0.8))
	);
	display:table;
}
.channel-content .inner .cell{
	display:table-cell;
	vertical-align:middle;
}
.channel-content .inner .cell:nth-of-type(1){
	width:160px;
}
.channel-content .inner .cell:nth-of-type(2){
	width:200px;
}
.channel-content .inner img{
  max-width: 140px;
  max-height: 180px;
  width: auto;
  height: auto;
  margin: auto;
  display: block;
}
.channel-content .scroll-refresher{
	position: absolute;
	top: -280px;
	right: 0;
	left: 0;
	overflow: hidden;
	margin: auto;
	height: 60px;
	color:#FFF;
	/* opacity:1; */
	text-shadow:0 0 2px #FFF;
}
.channel-content h1{
	color:#FFF;
	line-height:26px;
	font-size:24px; 
	padding:0; 
	margin:0; 
	
	text-align:left;
}
.channel-content .inner a, .channel-content .inner p{
	color:#FFF;
	text-decoration:none;
	float:left;
}
.channel-content ion-list > .list{
	min-height:400px;
}
    
.slider {
    height: 100%;
}
.slider-slide {
    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}
.slider-pager{
    /*display:none;*/
}

.channel-user-subscribe{
	float: right;
	font-size: 32px;
	color: #4690C3;
	padding: 15px;
	border-left: 1px solid #EEE;
	margin: -15px;
}