
/**
 * Ionic overrides
 */
.bar-header{
	background:#FAFAFA;
}

.bar-header h1{
	color:#333;
}

/**
 * Lists
 */


/**
 * Image block
 */
.image-block{}
.image-block .image{
	float:left;
	margin-right:8px;
}
.image-block .image > img{
	width:40px;
	height:40px;
}
.image-block .body{
	padding:0 12px;
	overflow:visible;
	width:auto;
	min-height:50px;
}

/**
 * Owner block
 */
.owner-brief img{
	box-shadow:0 0 3px #888;
	border-radius:2px;
}
.owner-brief p{
	font-size:11px;
}
.owner-brief h3{
	font-size:16px;
}

/**
 * Upload bar
 */
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;
   height:32px;
   color:#4690D6;
  }
