@font-face {
  font-family: 'fontello';
  src: url('../vendors/fontello/font/fontello.eot?37218800');
  src: url('../vendors/fontello/font/fontello.eot?37218800#iefix') format('embedded-opentype'),
       url('../vendors/fontello/font/fontello.woff?37218800') format('woff'),
       url('../vendors/fontello/font/fontello.ttf?37218800') format('truetype'),
       url('../vendors/fontello/font/fontello.svg?37218800#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.platform-android h1, .platform-android h2, .platform-android h3, .platform-android h4{
	font-weight:700!important;
}

.view-bg, .grey-bg{
	background-color: #d2d5da;
}
.white-bg{
	background: #FFF;
}
.login-bg{
	
}
.login-header .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 110%;
	height: 110%;
	background: url(../img/bg-1.jpeg) center -600px;
	background-size:75%;
	-webkit-filter: blur(6px);
	filter: blur(1px);
	z-index: -1;
	margin: -12px;
}
.login-header .background-image-2{
	background: url(../img/bg-2.jpeg) center -600px;
}

.small-font {
	font-size: 13px !important;
	color: #6A6A74 !important; 
}

.topbar-logo{
	height:32px;
	margin:5px;
}
.login-logo{
	width:152px;

}
.login-header{

	position:relative;
	text-align:center;
	padding:50px 0;
	
	/*background:url('../img/splash.jpg') no-repeat center center fixed;*/
	-webkit-background-size: cover;
  	-moz-background-size: cover;
 	-o-background-size: cover;
  	background-size: cover;
}
.login-options{
	text-align:center;
}
.login-options a{
	color:#888;
	text-decoration:none;
	font-size:14px;
	padding:12px 0;
	display:block;
}

.tabs{
	background:#222 !important;
	border:0 !important;
}
.tabs .tab-item{
	/*border-color:#4690C3 !important;*/
	border-color:#FFCC00 !important;
	color:#FFF;
}


.tabs-background-white .tabs{
	background:#FFF !important;
}
.tabs-background-white .tab-item{
	color:#999;
}
.tabs-background-white .tab-item i{
	color:#222;
}

.tabs-background-white.tabs-top .tab-item{
	color:#999 !important;
}
/*.capture-tab{

	margin-top:-2px;
	height:50px;
	background: #000 !important;
	color:#EEE;
	
}*/

.item-input-wrapper > textarea.cloned-text-input{
	display:none;
}

.platform-android .action-sheet{
	margin:0 24px;
}
.platform-android .action-sheet button{
	padding:0 16px;
}

html:-webkit-full-screen {
 background: red;
} 

a.tag{
	color:#4690C3;
	text-decoration:none;
	font-weight:bold;
}

.allow-select img{
    -webkit-user-select: auto !important;
        -khtml-user-select: auto !important;
        -moz-user-select: auto !important;
        -ms-user-select: auto !important;
        -o-user-select: auto !important;
        user-select: auto !important;  
}

.gender-input  a{
	padding:0 4px;
}

.minds-yellow{
	color:#FFCC00;
}
.minds-blue{
	color:#4690C3;
}