.view-bg, .grey-bg{
	background-color: #d2d5da;
}
.white-bg{
	background: #FFF;
}

.small-font {
	font-size: 13px !important;
	color: #6A6A74 !important; 
}

.topbar-logo{
	height:32px;
	margin:5px;
}

.tabs{
	background:#222 !important;
	border:0 !important;
}
.tabs .tab-item{
	/*border-color:#4690C3 !important;*/
	border-color:#FFCC00 !important;
	color:#FFF;
}

/*.capture-tab{

	margin-top:-2px;
	height:50px;
	background: #000 !important;
	color:#EEE;
	
}*/

.minds-yellow{
	color:#FFCC00;
}
.minds-blue{
	color:#4690C3;
}