
.messages .item-avatar{
	box-shadow:0 !important;
	border:0 !important;
}

.message-input{
	margin-left:8px;
	border-radius:3px;
	border:1px solid #DDD;
	width:228px;
	padding-top:8px;
	float:left;
}

.submit-button{
	float:left;
}

.conversation{
	padding:0 !important;
	margin:0 !important;
}
.conversation .item-avatar{
	border:0 !important;
	box-shadow:0 !important;
}