.chat-search-bar{

}
.chat-search-bar .tabs{
	padding: 8px;
	background: #EEE !important;
}
.chat-search-bar input{
	border-radius:0;
	border:0;
	box-shadow:0;
	padding:5px;
}
.messages .item-avatar{
	box-shadow:0 !important;
	border:0 !important;
}
.message{
	border:0;
	background:transparent;
	margin:15px 5px !important;
	padding:0 !important;
}
.message .message-content {
	float:left;
	border-radius:3px;
	border:0;
	margin:0 5px;
	width:auto;
	max-width:220px;
	background:#EEE;
	padding:10px;
	box-shadow:0 0 3px #888;
}
.message .message-content:before {
}
.message .message-content .decrypting {
	padding:12px 0 ;
}
.message.message-right .message-content{
	background:#4690D6;
	float:right;
	color:#FFF;
}
.message.message-right .message-content a.tag{
	color:#EEE;
	text-decoration:none;
	font-weight:bold;
}

.message img{
	float:left;
	width:24px;
	margin:8px 4px;
	border-radius:3px;
	box-shadow:0 0 3px #888;
}

.message.message-right img{
	float:right;
}

.message .ts{
	font-size:10px;
	color:#FAFAFA;
	float:left;
	margin-left:40px;
}
.message.message-right .ts{
	font-size:10px;
	float:right;
	margin-right:40px;
}

.message-input-form{
	width:100%;
}
.message-input{
	margin-left:8px;
	border-radius:3px;
	border:1px solid #DDD;
	width:228px;
	padding-top:8px;
	float:left;
}

.submit-button{
	float:right;
}

.conversation img{
	border:0 !important;
	box-shadow:0 0 3px #888;
	border-radius:3px;
}
.conversation h2{
	padding:2px 8px 0 8px;
}
.conversation p{
	padding-top:0; 
	padding-left:10px;
	font-size:10px;
}