.chat-search-bar{

}
.chat-search-bar .tabs{
	padding: 8px;
	background: #EEE !important;
}
.chat-search-bar input{
	border-radius:0;
	border:0;
	box-shadow:0;
	padding:5px;
	width:100%;
}
.messages .item-avatar{
	box-shadow:0 !important;
	border:0 !important;
}
.message{
	border:0;
	background:transparent;
	margin:15px 5px !important;
	padding:0 !important;
}
.message .message-content {
	float:left;
	border-radius:3px;
	border:0;
	margin:0 5px;
	width:auto;
	max-width:220px;
	background:#EEE;
	padding:10px;
	box-shadow:0 0 3px #888;
}
.message .message-content:before {
}
.message .message-content .decrypting {
	padding:12px 0 ;
}
.message.message-right .message-content{
	background:#4690D6;
	float:right;
	color:#FFF;
}
.message.message-right .message-content a.tag{
	color:#EEE;
	text-decoration:none;
	font-weight:bold;
}

.message img{
	float:left;
	width:24px;
	margin:8px 4px;
	border-radius:3px;
	box-shadow:0 0 3px #888;
}

.message.message-right img{
	float:right;
}

.message .ts{
	font-size:10px;
	color:#FAFAFA;
	float:left;
	margin-left:40px;
}
.message.message-right .ts{
	font-size:10px;
	float:right;
	margin-right:40px;
}

.message-input-form{
	width:100%;
}
.message-input{
	margin-left:8px;
	border-radius:3px;
	border:1px solid #DDD;
	width:228px;
	padding-top:8px;
	float:left;
}

.submit-button{
	float:right;
}

.conversation img{
	border:0 !important;
	box-shadow:0 0 3px #888;
	border-radius:3px;
}
.conversation h2{
	padding:2px 8px 0 8px;
}
.conversation p{
	padding-top:0; 
	padding-left:10px;
	font-size:10px;
}

.video-wrappers{
	position:relative;
	height:calc(100% - 80px);
}
.video-wrappers video.preview{
	position:absolute;
	bottom:16px;
	right:16px;
	height:134px;
	width:100px;
	border-radius: 3px;
	box-shadow: 0 0 3px #888;
	z-index:999;
}
.video-wrappers video.remote{
	position: absolute;
	top: 0;
	left: -50px;
	height: 100%;
	width: calc(100% + 100px);
	z-index:1;

	background: #000;
}
.call-actions{
	background:#222;
	height:80px;
	width:100%;
	text-align:center;
}
.call-actions button{
	padding: 16px 28px;
	margin: 8px 2px;
	font-size: 35px;
	border-radius: 2px;
	border: 0;
	line-height: 0;
	vertical-align: middle;
	background: #333;
	color: #FFF;
	text-align: center;
 }
.call-actions button.hangup{
	background:#FF0000;
}
.call-display-wrapper{
	display:table;
	vertical-align:middle;
	height:100%;
	width:100%;
	z-index:99999999;
	position:absolute;
	top:0;
	left:0;
}
.call-display-wrapper > div{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.call-display-wrapper button{
	border-radius:2px;
	border:0;
	background:0;
}	
	
.incoming button{
	padding:24px;
	border:0;
	background:transparent;
	font-size:18px;
}
.incoming button.answer{
	color:#008000;
}
.incoming button.reject{
	color:#FF0000;
}