.activity-item{
	display:block;
}
.activity-item .item h3{
	font-size:15px;
	/*font-family:"Georgia";*/
}
.activity-item .owner-brief{
	display:block;
	overflow:visible;
}

.activity-item .remind > div{
	box-shadow: 0 0 3px #888;
	margin:5px;
}

.hide-tabs .item.tabs{
	display:none !important;
}

.topbar-user-icon{
	border-radius:3px;
	width:32px;
	margin:2px;
	box-shadow: 0 0 3px #888;
}
.rich-embed-output{
	background:#EEE;
	width:calc(100% + 10px);
	/*margin-top:-5px !important;*/
	margin-left:-5px !important;
	box-shadow:0 0 3px #666;
	z-index:9;
	padding:8px 12px !important;
}
.boosted-bar{
	padding:4px;
	color:#888;
}