
.activity-item{
	display:block;
}
.activity-item .owner-brief{
	display:block;
	overflow:visible;
}


.activity-action-bar{

}

.item-image{
	overflow:hidden;
	height:200px;
}

.item-image .ion-play{
	color:#FFF;
	position:absolute;
	text-align:center;
	top:50px; 
	left:0;
	width:100%;
	height:100%;
	font-size:90px;
	z-index:9999;
	opacity:0.75;
}

   /* .bar-header{
        background:transparent !important;
        color:#FFF;
    }
    .bar-header h1{
        color:#FFF;
        text-shadow:0 0 3px #000;
    }*/

.carousel{
	position:absolute;
	top:0;
    left:0;
    width:100%;
    height:224px;
}
.carousel img{
     min-width:100%;
     height:auto;
     width:100%;
     position:absolute;
     top:0;
     left:0;
 }
 .carousel.blur img{
  /*  transition: 0.5s -webkit-filter linear;
    -webkit-filter:blur(20px);*/
 }
.channel-content {
      padding-top:120px;
}
.channel-content .inner{
    background:#FFF;
    padding:10px;
    z-index:99;
    position:relative;
}
.channel-content .inner img{
    margin-top:-72px;
}
    
.slider {
    height: 100%;
}
.slider-slide {
    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}
.slider-pager{
    display:none;
}

