.activity-item{
	display:block;
}
.activity-item .item h3{
	font-size:16px;
	/*font-family:"Georgia";*/
}
.activity-item .owner-brief{
	display:block;
	overflow:visible;
}

.hide-tabs .item.tabs{
	display:none !important;
}

.topbar-user-icon{
	border-radius:3px;
	width:32px;
	margin:2px;
	box-shadow: 0 0 3px #888;
}

.boosted-bar{
	padding:4px;
	color:#888;
}