.notification-item div{
	display:-webkit-flex;
	display:flex;
	-webkit-flex:1;
	flex:1;
}
.notification-item a{
	color:#666666;
	text-decoration:none;
	display:-webkit-flex;
	display:flex;
	-webkit-flex:1;
	flex:1;
}
.notification-item span.ts{
	position: absolute;
	bottom: -20px;
	right: 7px;
	font-size: 8px;
	/* font-weight: bold; */
	color: #888;
}
.notification-user-subscribe{
	float:right;
	font-size:32px;
	color:#4690C3;
	padding:5px 0 5px 16px;
	border-left:1px solid #EEE;
}