wallet-counter{
	display:inline-block;
	vertical-align: middle;
	color:green;
	line-height:38px;
	font-weight:300;
}
.wallet-points-input{
	display:table;
	vertical-align:middle;
	padding:5px 0;
}
.wallet-points-input .cell{
	display:table-cell;
	vertical-align: middle;
	width:60%;
	padding:8px;
}
.wallet-points-input input{
	background:#EEE;
	border:0;
	border-radius:0;
	font-size:42px;
	height:auto;
	font-weight:bold;
	text-align:right;
	padding:8px;
	-webkit-box-shadow:  inset 0 0 3px #888;
	box-shadow: inset 0 0 3px #888;
	width:100%;
}
.wallet-points-input input::-webkit-input-placeholder{
	line-height:14px;
	font-size:14px;
	padding:18px;
}

.wallet-points-input label{
	font-weight:200;
	font-size:22px;
}
.wallet-points-input .destination > input{
	line-height:46px;
	background:#EEE;
	font-size:22px;
	-webkit-box-shadow:  inset 0 0 3px #888;
	box-shadow: inset 0 0 3px #888;
}
.wallet-destination-select{
	padding:32px;
	}
.wallet-destination-select > input{
	line-height:46px;
	font-size:25px;
	text-align:left;
	margin-bottom:12px;
}
.wallet-destination-select:first-of-type{
	border-bottom: 1px solid #BBB;
}
.wallet-users-list{
	position: absolute;
	margin-top: -60px;
	left: 8px;
	width: calc(100% - 16px);
	background: #EEE;
	opacity:1;
	z-index:9;
	box-shadow: 0 0 3px #888;
}
.wallet-users-list > div{
	padding:8px;
	font-size:22px;
	font-weight:bold;
	text-align:left;
}
.wallet-users-list > div img{
	vertical-align: middle;
	border-radius:2px;
	box-shadow:0 0 3px #888;
	width:35px;
	height:35px;
	overflow:hidden;
	position:relative;
}
	
.wallet-purchase-button{
	width: auto;
	margin: 8px auto;
	display: block;
	background: green;
	color: #FFF;
	border: 0;
	padding: 8px 32px;
}

.wallet-card-input{
	background: #FFF;
}
.wallet-card-input .expiry{
	width:72px;
	margin:0 8px;
	display:inline-block;
}

.wallet-buttons{
	width:240px;
	height:60px;
	margin:auto;
	display:block;
}
.wallet-button{
	float:left;
	width:auto;
	margin:5px;
	padding:16px 28px;
	border:0;
	box-shadow:0 0 3px #888;
	border-radius:3px;
	text-decoration:none;
}

.transaction{
	height:65px;
	padding:8px;
}
.transaction .point{
	float:left;
	font-size:52px;
	line-height:50px;
	color:green;
	display:block;
	position:relative;
	padding-right:8px;
}
.transaction .point.negative{
	color:red;
}
.transaction p {
} 
.transaction .ts {
	color:#888;
	font-size:11px;
}